{%- capture meta_description -%}
  {%- if summary %}
    {{ summary }}
  {% else %}
    {{ site.summary }}
  {% endif -%}
{% endcapture -%}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link
    rel="icon"
    type="image/svg+xml"
    href="/assets/images/favicon.svg">
  <link
    rel="icon"
    type="image/png"
    href="/assets/images/favicon.png">

  {% if env == 'production' %}
    <script src="/assets/scripts/main.js" defer></script>
  {% endif %}

  <link
    rel="preload"
    as="font"
    href="/assets/fonts/Nunito.latin.woff2"
    type="font/woff2"
    crossorigin>
  <link rel="stylesheet" href="/assets/styles/main.css">
  <title>
    {% unless page.url == '/' %}
      {{ title }} |
    {% endunless %}
    {{ site.title }}</title>
  <meta name="description" content="{{ meta_description | strip }}">
  <meta property="og:title" content="{% unless page.url == '/' %}{{ title }} | {% endunless %}{{ site.title }}">
  <meta property="og:description" content="{{ meta_description | strip }}">
  <meta property="og:url" content="{{ site_url | htmlBaseUrl }}">
  <meta property="og:image" content="/assets/images/mim-banner-3.webp">
  <meta property="og:image:alt" content="Fargerike folk">
</head>