<div>
  <div class="container blob-grid">
      <img src="/assets/images/blobs/rectangle-side.svg" alt="">
      <img src="/assets/images/blobs/star-rounded.svg" alt="">
      <img src="/assets/images/blobs/angle.svg" alt="">
  </div>

  <footer class="container site-footer">
    <div class="wrapper">
      <div>
        <p>
          <b>Mangfold i mai</b> er en arrangementsserie rundt mangfold, inkludering og universell utforming i regi av Team Universell utforming og inkluderende design hos Arbeids- og velferdsdirektoratet.
        </p>
        <p>
          <b>Arkiv for tidligere år:</b>
          <a href="{{ "/2024" }}">2024</a>
          <a href="{{ "/2023" }}">2023</a>
          <a href="{{ "/2022" }}">2022</a>
        </p>
      </div>

      <div style="display:grid">
        <p>
          <b>Kontakt oss</b>:<br>
          <a href="mailto:{{ site.email }}">E-post</a> eller
          <a href="https://nav-it.slack.com/archives/C7MANSGLS">Slack (for Nav-ansatte)</a>.
        </p>
        <p style="align-self:end;margin-block-start:0"><a href={{ "/personvernerklaering/" }}>Personvernerklæring</a></p>
      </div>
    </div>
  </footer>
</div>

{% comment %} <div class="edit">
  <a href="{{ site.github_repository }}/edit/main/{{ page.path }}" target="_blank">✏️ <span>Rediger denne siden på Github (åpner i en ny fane)</span></a>
</div> {% endcomment %}