<!DOCTYPE html>
<html lang="no">

{% include head.html
title="Oida... | Mangfold i mai"
summary="Feir mangfold, inkludering og universell utforming!"
url="https://mangfoldimai.no" %}

<body class="layout-{{ page.layout }}">
<a id="skip" href="#content">Hopp til innholdet.</a>

{% include site-header.html %}

<main id="content" tabindex="-1">
    <div class="wrapper">
<section class="no-page">
    <article class="info">
        <div>
            <h1>404</h1>
            <p>Oi, her er det visst ikke noe innhold. <a href="{{ '/' | relative_url }}">Gå tilbake til forsiden</a>.</p>
        </div>
        
        <div>
            <h2>Er dette en brutt lenke?</h2>
            <p><a href="mailto:uu@nav.no">Send en mail</a>, eller <a href="https://nav-it.slack.com/archives/C7MANSGLS">send en melding på slack</a> (fungerer bare for interne).</p>
        </div>
    </article>

    <img src="/mangfold-i-mai/assets/images/people2.webp" alt="Illustrasjon av mennesker som går mot kamera." />

</section>
    </div>
</main>

{% include site-footer.html %}

</body>
</html>
