---
layout: default
title: Foredragsholdere
permalink: speakers/
categories: menu
menu-title: Foredragsholdere
order: 2
---
{% include page-header.html %}

<section class="layout-speakers-list">

    {% assign speakers = site.speakers %}

    {% for speaker in speakers %}
        <div class="speaker">
            {% if speaker.image %}
                {% assign image_url = "/assets/images/speakers/" | append: speaker.image %}
                    <img class="speaker-image" src="{{ image_url | relative_url }}" alt="{{ page.name }}">
                {% endif %}

            <a href="{{ speaker.url  | relative_url }}" class="name">{{ speaker.name }}</a>
        </div>


    {% endfor %}

</section>
