<td>
    <div class="date"><span>{{ include.date }}</span></div>

    <ul>

        {% assign events = site.events | sort: 'event-date' %}

        {% for event in events %}
        {% assign event-date = event.event-date | date: "%d" %}
        {% if include.date == event-date %}

        <li>
            <time>{{ event.event-date | date: "%k"}}:{{ event.event-date | date: "%M"}}</time>
            <a href="{{ event.url  | relative_url }}">{{ event.title }}</a>
        </li>

        {% endif %}
        {% endfor %}

    </ul>
</td>