<td>
    {% assign dates = site.dates %}
    {% for day in dates %}
    {% assign day-date = day.event-date | date: "%d" %}

    {% if day-date == include.date %}



    <div class="date"><span><a href="{{ day.url  | relative_url }}">
        {{ day-date }}
    </a></span></div>


    {% endif %}
    {% endfor %}




    <ul>

        {% assign events = site.events | sort: 'event-date' %}

        {% for event in events %}
        {% assign event-date = event.event-date | date: "%d" %}
        {% if include.date == event-date %}

        <li>

            {% assign hour = event.event-date | date: "%H" %}
            {% if hour == "00" %}

                <div>
                    {% if event.layout %}
                    <a href="{{ event.url  | relative_url }}">
                        {{ event.title }}
                    </a>
                    {% else %}
                    {{ event.title }}
                    {% endif %}
                </div>
            {% else %}

                <time>{{ event.event-date | date: "%k"}}:{{ event.event-date | date: "%M"}}</time>
                <a href="{{ event.url  | relative_url }}">{{ event.title }}</a>

            {% endif %}

        </li>

        {% endif %}
        {% endfor %}

    </ul>
</td>