<!--
<ul>
    {% for event in site.events %}
    <li><a href="{{ event.url  | relative_url }}">{{ event.title }}</a></li>
    {% endfor %}
</ul>
-->

<table class="schedule">
    <!--    <caption>Arrangementer</caption>
         <thead>
        <tr>
            <td>mandag</td>
            <td>tirsdag</td>
            <td>onsdag</td>
            <td>torsdag</td>
            <td>fredag</td>
        </tr>
        </thead>


        <tbody>-->
    <tr>
        <td>
            <div class="date"><span><span>02</span></span></div>

            <ul>
                <li>
                    <time>01:11</time>
                    <span>Semantisk HTML</span>
                </li>
                <li>
                    <time>12:00</time>
                    <span>Semantisk HTML</span>
                </li>

                <li>
                    <time>13:00</time>
                    <span>Usemantisk HTML</span>
                </li>
            </ul>


        </td>
        <td>
            <div class="date"><span>03</span></div>
        </td>
        <td>
            <div class="date"><span>04</span></div>
            <ul>
                <li>
                    <time>01:11</time>
                    <span>Semantisk HTML</span>
                </li>
                <li>
                    <time>12:00</time>
                    <span>Semantisk HTML</span>
                </li>

                <li>
                    <time>13:00</time>
                    <span>Usemantisk HTML og her er litt mer tekst</span>
                </li>

                <li>
                    <time>17:00</time>
                    <span>Usemantisk HTML</span>
                </li>
            </ul>
        </td>
        <td>
            <div class="date"><span>05</span></div>
        </td>
        <td>
            <div class="date"><span>06</span></div>
            <ul>
                <li>
                    <time>01:11</time>
                    <span>Semantisk HTML</span>
                </li>
                <li>
                    <time>12:00</time>
                    <span>Semantisk HTML</span>
                </li>

                <li>
                    <time>13:00</time>
                    <span>Usemantisk HTML og her er litt mer tekst</span>
                </li>

                <li>
                    <time>17:00</time>
                    <span>Usemantisk HTML</span>
                </li>
            </ul>
        </td>
    </tr>

    <tr>
        <td>
            <div class="date"><span>09</span></div>
        </td>
        <td>
            <div class="date"><span>10</span></div>
        </td>
        <td>
            <div class="date"><span>11</span></div>
            <ul>
                <li>
                    <time>01:11</time>
                    <span>Semantisk HTML</span>
                </li>

                <li>
                    <time>13:00</time>
                    <span>Usemantisk HTML og her er litt mer tekst</span>
                </li>

                <li>
                    <time>17:00</time>
                    <span>Usemantisk HTML</span>
                </li>
            </ul>
        </td>
        <td>
            <div class="date"><span>12</span></div>
        </td>
        <td>
            <div class="date"><span>13</span></div>
        </td>
    </tr>

    <tr>
        <td>
            <div class="date"><span>16</span></div>
        </td>
        <td>
            <div class="date"><span>17</span></div>
        </td>
        <td>
            <div class="date"><span>18</span></div>
        </td>
        <td>
            <div class="date"><span>19</span></div>
            <ul>
                <li>
                    <time>01:11</time>
                    <span>Semantisk HTML</span>
                </li>
                <li>
                    <time>12:00</time>
                    <span>Semantisk HTML</span>
                </li>

            </ul>
        </td>
        <td>
            <div class="date"><span>20</span></div>
        </td>
    </tr>

    <tr>
        <td>
            <div class="date"><span>23</span></div>
        </td>
        <td>
            <div class="date"><span>24</span></div>
            <ul>
                <li>
                    <time>01:11</time>
                    <span>Semantisk HTML</span>
                </li>

            </ul>
        </td>
        <td>
            <div class="date"><span>25</span></div>
        </td>
        <td>
            <div class="date"><span>26</span></div>
        </td>
        <td>
            <div class="date"><span>27</span></div>
        </td>
    </tr>

    <tr>
        <td>
            <div class="date"><span>30</span></div>
        </td>
        <td>
            <div class="date"><span>31</span></div>
            <ul>
                <li>
                    <time>01:11</time>
                    <span>Semantisk HTML</span>
                </li>
                <li>
                    <time>12:00</time>
                    <span>Semantisk HTML</span>
                </li>

                <li>
                    <time>13:00</time>
                    <span>Usemantisk HTML og her er litt mer tekst</span>
                </li>

                <li>
                    <time>17:00</time>
                    <span>Usemantisk HTML</span>
                </li>
            </ul>
        </td>
        <td colspan="3"></td>
    </tr>


    <!--    </tbody>-->


</table>