<article class="events list">
    <h2>{{ include.title}}</h2>

    <input id="public" type="checkbox">
    <label for="public">Skjul arrangementer som er bare for NAV-ansatte.</label>

    <div class="filter-results" aria-live="polite">
        <span>Arrangementene under er åpent for alle, også folk utenfor NAV.</span>
    </div>

    {% assign dates = site.dates | sort: 'event-date' %}

    {% if include.date %}

        {% include events.html date=include.date heading-level=include.heading-level %}

    {% else %}

        {% for day in dates %}
            {% assign day-number = day.event-date | date: "%d" %}
            {% include events.html date=day-number heading-level=include-heading-level %}
        {% endfor %}

    {% endif %}
</article>