{% assign number-of-events = 0 %}
{% assign events = site.events | sort: 'event-date' %}
{% for event in events %}
{% assign event-date = event.event-date | date: "%d" %}
{% if include.date == event-date %}
{% assign number-of-events = number-of-events | plus:1 %}
{% assign event-weekday = event.event-date | date: "%A" %}
{% endif %}
{% endfor %}

{% if number-of-events > 0 %}
    <section>
    {% assign dates = site.dates %}
    {% for day in dates %}
    {% assign day-date = day.event-date | date: "%d" %}
    {% if day-date == include.date %}
        <div class="day-header">
            <h3 class="date">
                <a href="{{ day.url  | relative_url }}">
                    <span>
                        <span class="day-number">
                            <div>{% include localized-weekday.html weekday=event-weekday %}</div>
                            <strong>{{ day.event-date | date: "%-d" }}. mai</strong>
                        </span>
                        <span class="weekday">
                            
                        </span>
                    </span>
                </a>
           </h3>
            {% if day.theme %}
                <span class="theme">{{ day.theme }}</span>
            {% endif %}
        </div>
    {% endif %}
    {% endfor %}

    <ul class="schedule">
        {% for event in events %}
            {% assign event-date = event.event-date | date: "%d" %}
            {% if include.date == event-date %}

            <li class="{{event.privacy}} {{event.location-type}}">
                {% assign hour = event.event-date | date: "%H" %}

                    <div class="time">
                        <time datetime="{{event.event-date | date: '%H:%M'}}">{{event.event-date | date: '%k:%M'}}</time>
                        <span class="til">til</span>
                        <time datetime="{{event.event-date-end | date: '%H:%M'}}">{{event.event-date-end | date: '%k:%M'}}</time>
                    </div>

                    <h3 class="title">
                        <a href="{{ event.url  | relative_url }}">
                            {{ event.title }}
                        </a>
                    </h3>

                    <div class="summary">
                        {% if event.summary-special %}

                            {{ event.summary-special }}

                        {% else %}

                            {{event.summary}}

                            {% if event.speakers %}
                                <ul class="speakers">
                                    Med 
                                    {% for speaker in event.speakers %}
                                        <li>{{ speaker }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}

                        {% endif %}
                    </div>

                <div class="participation-details">
                        {% if event.privacy == "public" %}
                    <span class="badge green {{event.privacy}}">Åpent for alle</span>
                        {% else %}
                    <span class="badge red {{event.privacy}}">Bare for NAV-ansatte</span>
                        {% endif %}



                    {% if event.location-type != "in-person"  %}
                        <span class="badge purple stream">Nettmøte</span>
                    {% endif %}

                    {% if event.location-type != "stream" %}
                    <span class="badge blue in-person">Fysisk arrangement</span>
                    {% endif %}

                    {% if event.registration == true or event.registration-link %}
                    <span class="badge yellow registration-required">Krever påmelding</span>
                    {% endif %}

                    {% if event.recorded == true %}
                    <span class="badge recorded">Blir tatt opp</span>
                    {% endif %}

                </div>

            </li>

            {% endif %}
        {% endfor %}

    </ul>
</section>

{% else %}

    {% if include.show-empty-events %}
        <p class="no-events">Ingen&nbsp;arrangementer&nbsp;i&nbsp;dag.</p>
    {% endif %}

{% endif %}
