<article class="events list" aria-live="polite" aria-relevant="all">
    <h2>{{ include.title}}</h2>

    {% if show-filter %}
        <input id="public" type="checkbox">
        <label for="public">Jeg er ikke NAV-ansatt: vis meg arrangementer jeg får delta på.</label>
    {% endif %}

    {% if include.date %}

        {% include events.html date=include.date  %}

    {% else %}

        {% assign dates = site.dates | sort: 'event-date' %}
        {% for day in dates %}
            {% assign day-number = day.event-date | date: "%d" %}
            {% include events.html date=day-number %}
        {% endfor %}

    {% endif %}
</article>