<!--
<ul>
    {% for event in site.events %}
    <li><a href="{{ event.url  | relative_url }}">{{ event.title }}</a></li>
    {% endfor %}
</ul>
-->

<table class="schedule">
    <!--    <caption>Arrangementer</caption>
         <thead>
        <tr>
            <td>mandag</td>
            <td>tirsdag</td>
            <td>onsdag</td>
            <td>torsdag</td>
            <td>fredag</td>
        </tr>
        </thead>


        <tbody>-->
    <tr>
        {% include calendar-date-listing.html date="02" %}
        {% include calendar-date-listing.html date="03" %}
        {% include calendar-date-listing.html date="04" %}
        {% include calendar-date-listing.html date="05" %}
        {% include calendar-date-listing.html date="06" %}
    </tr>
    <tr>
        {% include calendar-date-listing.html date="09" %}
        {% include calendar-date-listing.html date="10" %}
        {% include calendar-date-listing.html date="11" %}
        {% include calendar-date-listing.html date="12" %}
        {% include calendar-date-listing.html date="13" %}
    </tr>
    <tr>
        {% include calendar-date-listing.html date="16" %}
        {% include calendar-date-listing.html date="17" %}
        {% include calendar-date-listing.html date="18" %}
        {% include calendar-date-listing.html date="19" %}
        {% include calendar-date-listing.html date="20" %}
    </tr>
    <tr>
        {% include calendar-date-listing.html date="23" %}
        {% include calendar-date-listing.html date="24" %}
        {% include calendar-date-listing.html date="25" %}
        {% include calendar-date-listing.html date="26" %}
        {% include calendar-date-listing.html date="27" %}
    </tr>
    <tr>
        {% include calendar-date-listing.html date="30" %}
        {% include calendar-date-listing.html date="31" %}
        <td colspan="3"></td>
    </tr>


    <!--    </tbody>-->


</table>