{% assign event-date = event-date | readableDate: "yyyy-LL-dd" %}
{% assign today = site.today | readableDate: "yyyy-LL-dd" %}
{% assign event-date-unix = event-date | readableDate: "X" %}
{% assign today-unix = site.today | readableDate: "X" %}

{% if location-type != "in-person" and skip-video != true and event-date >= today %}
  
    {% if event-date-unix > today-unix %}
      <p>Videosendingen starter
        {% if event-date != today %}
        {{ event-date | readableDate: "DDD" }}.
        {% endif %}
        kl. {{ event-date| readableDate: 'T' }}.
      </p>
    {% endif %}

    <iframe
      class="video"
      src="https://vimeo.com/event/4269617/embed/882ab89d6f"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture"
      allowfullscreen=""
      title="Live feed for Mangfold i mai">
    </iframe>
    <script src="https://player.vimeo.com/api/player.js"></script>
{% elsif video-url %}
    {% include 'video.html' %}
{% endif %}