{% assign d = page.event-date | date: "%A" %}
{% case d %}
    {% when 'Monday' %}Tandag,
    {% when 'Tuesday' %}Tirsdag,
    {% when 'Wednesday' %}Onsdag,
    {% when 'Thursday' %}Torsdag,
    {% when 'Friday' %}Fredag,
    {% when 'Saturday' %}Lørdag,
    {% when 'Sunday' %}Søndag,
{% endcase %}

{% assign m = page.event-date | date: "%-m" %}

{{ page.event-date | date: "%-d" }}.
{% case m %}
{% when '1' %}januar
{% when '2' %}februar
{% when '3' %}mars
{% when '4' %}april
{% when '5' %}mai
{% when '6' %}juni
{% when '7' %}juli
{% when '8' %}august
{% when '9' %}september
{% when '10' %}oktober
{% when '11' %}november
{% when '12' %}desember
{% endcase %}
{{ page.date | date: "%Y" }}