<footer class="site-footer">
    <div class="wrapper">
        <p><span class="title">Mangfold i mai</span> er en arrangementsserie rundt mangfold, inkludering og universell utforming i regi av Team Universell utforming og inkluderende design hos Arbeids- og velferdsdirektoratet.</p>
        <p>Gå til arkiv: <a href="{{ "/2023" | relative_url }}">2023</a> <a href="{{ "/2022" | relative_url }}">2022</a></p>
        <ul class="links">
            <li><a href="mailto:{{ site.email }}">✉️ <span>Send oss en mail<span></a></li>
            <li><a href="https://nav-it.slack.com/archives/C7MANSGLS">💬 <span>Kontakt oss på Slack (NAV internal)<span></a></li>
            <li><a href="{{site.github.repository_url}}/edit/main/{{page.path}}" target="_blank">✏️ <span>Rediger denne siden på Github (åpner i en ny fane)<span></a></li>
            <li><a href={{ "/personvernerklaering/" | relative_url }}>📄 <span>Personvernserklæring<span></a></li>
        </ul>
        <div class="sponsors">
            {% assign bufdir_url = "/assets/images/bufdir-logo.svg" %}
            {% assign forskningsradet_url = "/assets/images/forskningsradet-logo.svg" %}

            Med støtte fra:
            <ul>
                <li><img src="{{ bufdir_url | relative_url }}" alt="Bufdir"></li>
                <li><img src="{{ forskningsradet_url | relative_url }}" alt="Forskningsrådet"></li>
            </ul>
        </div>
    </div>
</footer>
