<li class="speaker-card">
    {% if speaker.image %}
        <img 
          class="pic" 
          src="/assets/images/speakers/optimized/{{ speaker.image }}" 
          alt="{{ render-speaker-name }}" 
          aria-hidden="true" 
          loading="{% if index < 4 %}eager{% else %}lazy{% endif %}"
          decoding="auto"
          eleventy:widths="200">
    {% endif %}

    <div class="about">
        <div class="name">
            <a href="/speakers/{{ speaker.name | slugify }}.html" class="name">
                {{ speaker.name }}
            </a>
        </div>

        {% if speaker.summary %}
            <div class="summary">{{ speaker.summary }}</div>
        {% endif %}
    </div>

</li>