body {
    font-family: 'Montserrat', serif;
    font-size: 1.1em;
    line-height: 1.5;
}


a {
    color: #c00000;
}

.site-header {

    .wrapper {
        padding: 0 1rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;

    }

    .logo {
        font-size: 2em;
        margin-right: 2rem;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        float: right;
    }

    li {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 1em;
        }
    }

    a {
        color: #fff;
    }

}

.colorful {
    background-image: linear-gradient(-60deg, #a30a0a, #996600, #888800, #004000);
    background-size: 100%;
}
