:root {
    font-size: 100%;
}

body {
    font-family: 'Montserrat', serif;
}

main, footer {
    line-height: 1.5;

    a {
        color: $primary;

        &:focus {
            outline: 3px dashed #72A300;
        }
    }
}

h1, h2 {
    line-height: 1.2;
}

h2 {
    margin-bottom: .25em;
}

dl {
    margin-bottom: 1.5em;
}

dt {
    font-weight: 700;
    margin-top: .75em;

    &:first-child {
        margin-top: 0;
    }
}

dd {
    margin: 0;
}

.speaker {
    max-width: 100%;}