:root {
    font-size: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    color: $sketch-dark-blue;
    background:#fafafa;
}

a {
    color: $primary;

    &:focus {
        outline: 3px dashed $secondary;
    }
}


.colorful {
    background-image: linear-gradient(-60deg, $sketch-pink, $sketch-orange, $sketch-green, $sketch-medium-blue, $sketch-purple);
    background-size: 100%;
}

.no-events {
    margin: 1em;
}


h1, h2, h3 {
    line-height: 1.2;
    margin-top: 1em;
    margin-bottom: .5em;
}

p, ul, ol, dl {
    margin-top: .5em;
}

.til {
    display: inline-block;
    overflow: hidden;
    width: .5em;
    height: 1.1em;

    &::before {
        content: "-";
    }
}

.cta {
    color: $darker-green;
    font-size: 1.15em;
    font-weight: 600;
    padding-right: 1.35em;
    background: url("images/icons/arrow-right.svg") no-repeat right center / 1em;
}

.notice {
    border-radius:0.25rem;
    padding:0 1rem;
    font-size:0.9rem;

    &.warning {
        background:rgb(255, 236, 204);
        border: 1px solid rgb(199, 115, 0);
    }
}