// For the events listing include

#public:checked ~ section li:not(.public) {
    display: none;
}

#stream:checked ~ section li:not(.stream) {
    display: none;
}

.events {

    .day-header {
        display: flex;
        align-items: center;
        justify-content: stretch;
        border-top:5px solid $primary;

        .date {
            margin: 0;
            background: $primary;
            align-self: stretch;

            a {
                font-weight: 100;
                color: #fff;
                text-align: center;
                padding: .25em;
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                font-size: 1em;
                width: 7rem;
                height: 5rem;

                &:focus {
                    outline: 0;
                    border: 3px dotted white;
                }

                span {
                    display: block;
                }

                strong {
                    font-weight: bold;
                }
            }
        }

        .theme {
            display:block;
            font-size:1.5em;
            padding:0 1rem;
        }
    }

    section {
        background:white;
        margin: 1rem;
        padding:0;

        .schedule {
            margin:0;
            padding:0;

            > li {
                display:block;
                position:relative;
                list-style:none;
                padding:1rem;
                padding-left:8rem;

                &:hover {
                    background:#fafafa;
                }

                .time {
                    position:absolute;
                    top:1rem;
                    left:1rem;
                }

                h3 {
                    margin:0 0 0.5rem;
                }

                .summary {
                    margin-bottom:0.5rem;

                    .speakers {
                        display:inline;
                        margin:0;
                        padding:0;

                        li {
                            display:inline;

                            &:after {
                                content:', ';
                            }

                            &:last-child:after {
                                content:'';
                            }
                        }
                    }
                }

                .participation-details {
                    .badge {
                        margin-bottom:0.25rem;
                    }
                }

                @media all and (max-width: 500px) {
                    padding-left: 1rem;

                    .time {
                        position:static;
                    }
                }
            }
        }
    }
}