#public:checked ~ section li:not(.public) {
    display: none;
}

#stream:checked ~ section li:not(.stream) {
    display: none;
}


.events {

    a {
        text-decoration: none;
    }

    &.list {

        section {
            outline: 1px solid #c00000;
            margin: 1rem;
        }

        .day-header {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: stretch;
            border-bottom: 1px solid #c00000;
        }

        .date {
            background: #ff6600;
            margin: 0;
            line-height: 1.2;

            a {
                background: #c00000;
                font-size: 2em;
                font-weight: 100;
                color: #fff;
                text-align: center;
                width: 7rem;
                height: 7rem;
                padding: .25em;
                display: flex;
                justify-content: center;
                align-items: center;

                span {
                    display: block;
                }

            }
        }


        .theme {
            padding: 0 1rem;
            font-size: 1.5em;
        }

        .weekday {
            font-size: .4em;
            display: block;
            padding-top: .5em;
        }


        ul {
            list-style-type: none;
            padding: 1rem 0;
            margin: 0;
        }

        li {
            display: flex;
            flex-flow: row nowrap;
            margin: .5em 0;
        }

        .time {
            width: 7rem;
            text-align: right;
            flex-shrink: 0;
        }

        .title {
            margin: 0 1rem;
        }


    }

}

@media only screen and (min-width: $break) {

    .events {

    }
}