.site-footer {
    padding: 1rem;
    background-image: linear-gradient(60deg, #c00000, #ff6600, #999900, #004000);
    background-size: 100% 1em;
    background-repeat: no-repeat;

    .title {
        font-weight: 700;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        margin: .25em 0;
        padding-left: 1.4em;

        &::before {
            content: "";
            display: inline-block;
            margin-left: -1.4em;
            width: 1.4em;
            height: 1em;
            background-repeat: no-repeat;
            background-size: contain;
            vertical-align: text-top;
        }
    }

    .email::before {
        background-image: url("images/email.svg");
    }

    .slack::before {
        background-image: url("images/slack.svg");
    }

    .edit::before {
        background-image: url("images/edit.svg");
    }

}