.home {
    .wrapper {
        margin: 0 1rem;
    }

    .logo {
        display: inline-block;
    }

    .colorful {
        line-height: initial;
    }
}

@media only screen and (min-width: $break3) {
    .home {
        .logo {
            margin: .5em 0;
            padding-top: 4em;
            width: auto;
            background-image:  url("images/logo-large.svg");
            display: block;
        }

        .wrapper {
            margin: 0 1rem;
            max-width: 40em;
        }
    }
}