.home {
    .wrapper {
        margin: 0 1rem;
    }
}

@media only screen and (min-width: $break) {
    .home {
        .logo {
            padding-top: 4em;
            background-image:  url("images/logo-large.svg");
        }
    }
}