.icon {
    padding: 0 1em 0 1.5em;
    background: no-repeat left center / 18px;

    &.public {
        background-image: url("images/icons/public.svg");
    }

    &.internal {
        background-image: url("images/icons/nav-logo-only-circle-black.svg");
    }

    &.registration-required {
        background-image: url("images/icons/registration-required.svg");
    }

    &.stream {
        background-image: url("images/icons/stream-black.svg");
    }

    &.in-person {
        background-image: url("images/icons/in-person-black.svg");
        background-size: 13px;
    }

    &.calendar-outlook {
        background-image: url("images/icons/calendar-outlook.svg");
    }

    &.calendar-download {
        background-image: url("images/icons/calendar-download-black.svg");
    }

    &.time {
        background-image: url("images/icons/clock-black.svg");
    }

    &.date {
        background-image: url("images/icons/calendar-black.svg");
    }
}

.badge {
    display: inline-block;
    padding: .5em 1em .5em 2.25em;
    border-radius: 2em;
    background-color: #e1f2ff;
    border: 1px solid #b9b9b9;
    font-size: .92em;
    line-height: 1em;
    font-weight: 500;

    &.icon {
        background-position: .625em center;
    }

    &.red {
        background-color: $sketch-pink;
    }

    &.blue {
        background-color: $sketch-light-blue;
    }

    &.green {
        background-color: $sketch-green;
    }

    &.yellow {
        background-color: $sketch-yellow;
    }

    &.purple {
        background-color: $light-purple;
    }
}