.layout-speaker {
    main {
        .wrapper {
            padding-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }

    .speaker-header {
        display: flex;
        flex-direction: column;
        gap: 20px;

        h1 {
            margin: 0;
        }

        .speaker-image {
            min-width: 150px;
            width: 150px;
            height: 150px;
            object-fit: cover;
            border-radius: 150px;
            margin-top: 4px;
        }
        
        .summary {
            margin-top: 8px;
        }
    }

    .event-list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .summary {
        margin: 0 0 2em;
    }

}

@media screen and (min-width: 605px) {
    .layout-speaker {
        .speaker-header {
                flex-direction: row;
                gap: 40px;
                padding: 40px 0;
        }
    }
}
