@use "variables" as v;

.speakers-list {
    margin-top: 2em;
    display: grid;
    grid-template-columns: 1fr;
    gap: 3em;
    list-style: none;
    padding: 0;
}

@media screen and (min-width: v.$break2) {
    .speakers-list {
        grid-template-columns: repeat(2, 1fr);
    }
}
