// SCSS for generic pages with the "page" layout
.layout-page {
    #content {
      .wrapper {
      padding-bottom: 2rem;
        h1 {
          font-size: 2.3em;
        }

        h2 {
          margin-top: 40px;
        }
      }

      img {
        margin-top: 40px;
        width: 100%;
        max-width: 700px;
      }
    }
}
