// SCSS for the layout for individual event pages

.layout-event {


    .metadata, .participation-details {
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        li {
            margin-bottom: .25em;
        }
    }

    .metadata {

        ul {
            display: flex;
            flex-flow: row wrap;
        }

        li {
            &.date, &.time {
                white-space: nowrap;
            }
        }
    }

    .speaker {

        img {
            max-width: 100%;
            height: auto;
        }
    }
}


@media only screen and (min-width: $break1) {
    .layout-event {
        .metadata {

            background: $primary;
            color: #fff;


            a {
                color: #fff;
            }


            ul {
                display: block;
                flex-flow: row wrap;
            }

            li {
                &.date, &.time {
                    white-space: initial;
                }
            }
        }


        .title, h2 {
            margin: 0;
            padding: 0;
        }


        h1, .metadata, .description, .speakers, .participation-details {

        }

        .container {
            margin-top: 2em;
            border: 1px solid red;

            > * {
                padding: 1rem;
            }

        }


        .container {
            display: grid;
            grid-template-columns: 30% 1fr;
            grid-template-rows: max-content min-content max-content;
            grid-auto-flow: row;
            grid-template-areas:
                "metadata title"
                "calendar-invitations description-participation"
                "speakers description-participation";
        }

        .metadata {
            align-self: stretch;
            grid-area: metadata;
            order: 1;
        }

        .title {
            align-self: center;
            grid-area: title;
            order: 2;
        }

        .speakers {
            align-self: end;
            grid-area: speakers;
            order: 3;
        }

        .calendar-invitations {
            align-self: start;
            grid-area: calendar-invitations;
            order: 4
        }

        .description-participation {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr min-content;
            grid-auto-flow: row;
            grid-template-areas:
                "description"
                "participation-details";
            grid-area: description-participation;
            order: 5;
        }

        .description {
            grid-area: description;
        }

        .participation-details {
            grid-area: participation-details;
        }


    }
}