.layout-speaker {
    main {
        .wrapper {
            padding-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }

    .speaker-header {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        gap: 0;
        padding: 12px 0;

        .speaker-image {
            max-width: 100%;
            min-width: 150px;
            height: 150px;
            object-fit: cover;
            border-radius: 150px;
        }

        h1 {
            text-align: center;
        }
    }

    .event-list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .summary {
        margin: 0 0 2em;
    }

}

@media screen and (min-width: 405px) {
    .layout-speaker {
        .speaker-header {
                flex-direction: row;
                gap: 20px;
                padding: 20px 0;
                justify-items: flex-start;

            h1 {
                text-align: left;
            }
        }
    }
}

@media screen and (min-width: 1025px) {
        .layout-speaker {
            .speaker-header {
                .speaker-image {
                    width: 200px;
                    height: 200px;
                }
            }
        }
    }
