@use "variables" as v;

// SCSS for the layout for individual event pages

.layout-event {


    .metadata, .participation-details {
        ul {
            list-style: none;
            padding: 0;
            margin: 1em 0;
        }

        li:not(:last-child) {
            margin-bottom: .25em;
        }
    }

    .metadata {

        ul {
            display: flex;
            flex-flow: row wrap;
        }

        li {
            &.date, &.time {
                white-space: nowrap;
            }
        }
    }

    .speaker {
        margin: 1em 0 1.5em;
        display: flex;
        flex-flow: row nowrap;

        a {
            font-weight: bold;
        }

        p {
            margin: 0 0 .25em;
        }

        img {
            max-width: 30%;
            height: auto;
            display: inline-block;
            margin-right: 1em;
        }

    }

    .description {

        > :first-child {
            margin-top: 0;
        }

        > :last-child {
            margin-bottom: 0;
        }
    }

    .icon {

            background-position: left .25em;
        
    }

    .video {
      aspect-ratio: 16 / 9;
      max-width: 100%;
      width: 100%;  
    }


}

@media only screen and (min-width: v.$break2) {
    .layout-event {

        .wrapper {
            max-width: 65em;
        }

        .metadata, .participation-details {

            ul {
                margin: 0;
            }

            .icon {
                padding-right: 0;
            }
        }

        .metadata {
            background: v.$primary;
            color: #fff;

            a {
                color: #fff;
            }

            ul {
                height: 100%;
                flex-flow: column nowrap;
                justify-content: center;
            }

            li {
                width: 100%;

                &.date, &.time {
                    white-space: initial;
                }
            }

            .icon {
                padding-right: 0;

                &.time {
                    background-image: url("images/icons/clock-white.svg");
                }

                &.date {
                    background-image: url("images/icons/calendar-white.svg");
                }

                &.stream {
                    background-image: url("images/icons/stream-white.svg");
                }

                &.in-person {
                    background-image: url("images/icons/in-person-white.svg");
                }
            }

        }

        .speaker {
            margin: 1em 0 0;
            flex-flow: column-reverse nowrap;

            img {
                max-width: 100%;
                height: auto;
                display: block;
                margin-right: 0;
            }
        }

        h2 + .speaker {
            margin-top: .25em;
        }

        .title, h2 {
            margin: 0;
            padding: 0;
        }

        .speakers h2 {
            font-size: 1.15em;
            margin-top: 1em;
        }

        .container {
            margin-top: 2em;
            border: 1px solid v.$primary;

            > * {
                padding: 1rem;
            }

            .title, .description {
                padding-left: 2rem;
            }
        }

        .container {
            display: grid;
            grid-template-columns: 35% 1fr;
            grid-template-rows: max-content min-content max-content;
            grid-auto-flow: row;
            grid-template-areas:
                "metadata title"
                "participation-details description"
                "speakers description";
        }

        .metadata {
            align-self: stretch;
            grid-area: metadata;
        }

        .title {
            align-self: center;
            grid-area: title;
        }

        .speakers {
            align-self: end;
            grid-area: speakers;
        }

        .participation-details {
            align-self: start;
            grid-area: participation-details;
        }

        .description {
            grid-area: description;
        }
    }
}