.layout-speaker {
    main {
        .wrapper {
            padding-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }

    .header {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: flex-start;
        gap: 0;
        padding: 12px 0;

        .speaker-image {
            max-width: 100%;
            min-width: 150px;
            height: 150px;
            object-fit: cover;
            border-radius: 150px;
        }
    }

    .speaker-events {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding-bottom: 40px;

        .event-list {
            display: grid;
            grid-template-columns: 1fr;
            gap: 52px;

            .event {
                display: flex;
                flex-direction: column;
                gap:12px;
                text-decoration: none;

                h3, p {
                    margin: 0;
                }

                header {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;

                    .title {
                        font-size: 1.5rem;
                    }

                    .date {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        gap: 12px;

                        span {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }

            }
        }
    }
}

@media screen and (min-width: 705px) {
    .layout-speaker {
        .header {
                flex-direction: row;
                gap: 20px;
                padding: 20px 0;
                justify-items: flex-start;
        }
    }
}

@media screen and (min-width: 1025px) {
        .layout-speaker {
            .header {
                .speaker-image {
                    min-width: 200px;
                    height: 200px;
                }
            }
        }
    }
