// SCSS for all layouts

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

header, footer {
    flex-shrink: 0;
}

main {
    flex-grow: 1;
}

.wrapper {
    margin: 0 auto;
    padding: 0 1rem;
}

@media only screen and (min-width: $break3) {
    .wrapper {
        max-width: 40rem;
    }

}