.layout-speakers-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    .speaker {
        img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 150px;
        }
    }
}

@media screen and (min-width: 400px) {
    .layout-speakers-list {
        .speaker {
            flex-direction: row;
            justify-content: flex-start;
        }
    }
}

@media screen and (min-width: 600px) {
    .layout-speakers-list {
        grid-template-columns: repeat(2, 1fr);

        .speaker {
            flex-direction: column;
            justify-content: center;
        }
    }
}

@media screen and (min-width: 1025px) {
    .layout-speakers-list {
        grid-template-columns: repeat(2, 1fr);

        .speaker {
            flex-direction: row;
            justify-content: flex-start;
        }
    }
}
