// SCSS for the layout for the 404 page

.no-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  padding-top: 20px;
  gap: 20px;

  h1,h2 {
    margin: 0;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    margin-top: 40px
  }

  .info {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
  }

  img {
    width: 100%;
    max-width: 700px;
    margin-top: 80px;
  }
}
