* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 2em;
    padding: 0;
}

header, footer {
    flex-shrink: 0;
}

main {
    flex-grow: 1;
}


