// SCSS for the "home" layout

.layout-home {
    .colorful {
        line-height: initial;
    }

    .flash {
        margin: 2em 0;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        h1 {
            margin-bottom: 0;
        }

        img {
            max-width: 100%;
        }
    }

    .today {
        display: flex;
        flex-direction: column;

        h2 {
            font-size: 1.8rem;
        }

        .event {
            display: flex;
            flex-direction: column;
            gap: 4px;
            margin-bottom: 20px;

            h3 {
                font-size: 1.5rem;
            }

            .summary {
                display: flex;
                flex-direction: column;
                gap: 8px;
            }


            .speakers {
                font-weight: 500;

                span:first-child::before {
                    content: "Med ";
                    font-weight: 400;
                }

                span + span::before {
                    content: " og ";
                    font-weight: 400;
                }

                span:last-child::after {
                    content: ".";
                    font-weight: 400;
                }
            }
        }
    }

}

@media only screen and (min-width: $break1) {

    .layout-home {

    }
}

@media only screen and (min-width: $break2) {
    .layout-home {

        .flash {
            margin: 2em 0;
            flex-flow: row-reverse nowrap;
            gap: 1em;

            h1 {
                margin: 0;
            }

            p {
                margin-bottom: 0;
            }

            img {
                max-width: 50%;
            }

        }


        .logo {
            margin: 0;
            padding-top: 7em;
            width: 35em;
            background-image: url("images/logo-large.svg");
            display: block;
        }

        .events {
            margin: 0 auto;
            max-width: 50em;
        }

        nav ul {
            margin-bottom: .1em;

            li {
                display: block;
                padding: .25em 0;
            }
        }

    }
}
