.logo {
    display: inline-block;
    position: relative;

    .mangfold {
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: -.025em;
        color: #fff;

        span {
            color: transparent;
            background: url("images/person.svg") .04em .4em / .6em no-repeat;
        }
    }

    .i-mai {
        font-weight: 100;
        font-size: .75em;
        color: #fff;
    }
}