#public:checked ~ ul li:not(.public)  {
    display: none;
}

#stream:checked ~ ul li:not(.stream) {
    display: none;
}




.schedule {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;

    td {
        display: block;
        padding: 0 0 2rem;
    }

    .date {
        font-size: 3em;
        color: #c00000;
        font-weight: 100;
        border-bottom: 2px solid #c00000;
    }

    li {
        display: flex;
        flex-flow: row nowrap;
        margin: .25em 1rem .5em 0;
        line-height: 1.3;
    }

    time {
        margin-right: .5em;
        flex-shrink: 0;
    }

    time, .date span {
        width: 5rem;
        display: inline-block;
        text-align: right;
        padding-left: 1rem;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
}

@media only screen and (min-width: $break) {

    .schedule {
        td {
            display: table-cell;
            width: 20%;
            vertical-align: top;
        }

        li {
            margin-right: 0;
        }
    }
}