.site-footer {
    margin: 1rem 0 0;
    padding: 2rem 0;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        @extend .colorful;
        opacity: .25;
        z-index: -1;
    }

    .title {
        font-weight: 700;
        font-size: 1.5em;
        display: block;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-image:  url(images/nav-logo.svg);
        background-size: 6.5em;
        background-position: right center;
        background-repeat: no-repeat;
    }

    li {
        margin: .25em 0;
        padding-left: 1.4em;
        padding-right: 9em;

        &::before {
            content: "";
            display: inline-block;
            margin-left: -1.4em;
            width: 1.4em;
            height: 1em;
            background-repeat: no-repeat;
            background-size: contain;
            vertical-align: text-top;
        }
    }

    .email::before {
        background-image: url("images/icons/email.svg");
    }

    .slack::before {
        background-image: url("images/icons/slack.svg");
    }

    .edit::before {
        background-image: url("images/icons/edit.svg");
    }

    a {
        color: $sketch-dark-blue;

        &:focus {
            outline: 3px dashed $sketch-dark-blue;
        }

    }

}


@media only screen and (min-width: $break2) {
    .site-footer {
        padding: 2rem 0;

        .title {
            font-size: 2em;
        }

        p {
            padding-right: 9em;
        }
    }
}

@media only screen and (min-width: $break3) {
    .site-footer {
        padding: 4rem 0;

        ul {
            padding: 0;
        }
    }
}