.site-footer {
    margin: 1rem 0 0;
    padding: 2rem 0;
    position: relative;

    .wrapper {
        background-image:  url(images/nav-logo.svg);
        background-size: 6.5em;
        background-position: right bottom;
        background-repeat: no-repeat;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        @extend .colorful;
        opacity: .25;
        z-index: -1;
    }

    .title {
        font-weight: 700;
        font-size: 1.5em;
        display: block;
    }

    .links {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            margin: .25em 0;

            &::before {
                content: "";
                display: inline-block;
                margin-left: -1.4em;
                width: 1.4em;
                height: 1em;
                background-repeat: no-repeat;
                background-size: contain;
                vertical-align: text-top;
            }

            a {
                text-shadow:1px 1px 0px rgba(0,0,0,0.5);
                text-decoration:none;

                span {
                    text-decoration:underline;
                    text-shadow:none;
                }

                &:focus {
                    outline: 3px dashed $sketch-dark-blue;
                }
            }
        }
    }



    .sponsors {
        margin-top:1rem;

        img {
            max-height:2rem;
        }

        ul {
            margin-top:0.5rem;
            padding:0;
            
            li {
                display:inline;
                margin-right:1rem;
            }
        }
    }

}


@media only screen and (min-width: $break2) {
    .site-footer {
        padding: 2rem 0;

        .title {
            font-size: 2em;
        }

        p {
            padding-right: 9em;
        }
    }
}

@media only screen and (min-width: $break3) {
    .site-footer {
        padding: 4rem 0;

        ul {
            padding: 0;
        }
    }
}
