.speaker-card {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    .pic {
        min-width: 100px;
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 100px;
        margin-right: 1em;
    }

    .name {
        line-height: 1.2;
        font-size: 1.2em;
        font-weight: 500;
        margin-bottom: .5em;
    }
}