$break1: 577px;
$break2: 769px;
$break3: 1025px;

$nav-red: #c30000;

// Colors from or adjusted from the sketch
$light-purple: #D0C5DD;
$sketch-light-blue: #99C3FF;
$sketch-medium-blue: #0067C5;
$sketch-dark-blue: #002252;
$sketch-medium-green: #66C786;
$sketch-red: #D05C4A;
$dark-red: #CB4C39;
$sketch-purple: #A18DBB;
$sketch-green: #99DEAD;
$sketch-pink: #F9D2CC;
$sketch-orange: #FFC166;
$sketch-yellow: #FFD799;



$primary: $sketch-dark-blue;
$secondary: $sketch-purple;





