---
layout: 'default.html'
permalink: "/program/{{ page.fileSlug | slugify }}/"
---

{% capture lang -%}{% if language %} lang="{{ language }}"{% endif %}{%- endcapture %}

{% block content %}
<div class="event">

  <h1{{ lang }}>{%- if canceled %}DESSVERRE AVLYST – {% endif %}{{ title }}</h1>

  <div class="tags">
    {% for tag in event-tags %}
      <span class="tag" data-tag="{{ tag }}">
        {{ tag }}
      </span>
    {% endfor %}
  </div>

  <div class="description" {{ lang }}>
    {{ content }}

    {% if stream %}
      {% include 'live-stream.html' %}
    {% endif %}
  </div>

  {% unless canceled %}
    <div class="metadata">
      <p>
        {{ event-date | readableDate: 'EEEE dd. MMM' |  capitalize }},
        <time datetime="{{ event-date }}"><br>
        <abbr title="klokken">kl.</abbr> {{ event-date | readableDate: 'T' | replace: ":", "." }}–{{ event-date-end | readableDate: 'T' | replace: ":", "." }}
        </time>
        </p>
        
      {% if audience %}<p>Målgruppe:<br><b>{{ audience }}</b></p>{% endif %}
      {% if delta %}
        <p>
          <span>For ansatte i Nav:</span>
          <a class="rounded-button" href="{{ delta }}">Påmelding i Delta</a>
        </p>
      {% endif %}    
      {% if stream %}<p>📝 <a href="{{ stream }}">Stream</a></p>{% endif %}    
    </div>
  {% endunless %}

  {% if speakers.length > 0 and speakers[0].name != null %}
  <div class="speakers">
    <h2>Foredrags&shy;holder{% if speakers.length > 1 %}e{% endif %}</h2>

    {% for speaker in speakers %}
      <article class="byline">
        {%- if speaker.image %}
        <img src="{{ speaker.image }}" alt="" aria-hidden="true" loading="lazy" decoding="auto" class="avatar byline__image" eleventy:widths="72">
        {%- endif %}
        <div class="byline__text">
          <p class="byline__name"><strong>{{ speaker.name }}</strong></p>
          {% if speaker.role %}<p class="byline__role">{{ speaker.role }}</p>{% endif %}
          {% if speaker.info %}<p class="byline__info">{{ speaker.info }}</p>{% endif %}
        </div>
      </article>
    {% endfor %}
    </div>
  {% endif %}

  <div class="backlink">
    <a class="pill-button" href="/program/">Se hele programmet</a>
  </div>

</div>      
{% endblock %}

{% block script %}
{% endblock %}
