---
layout: 'default.html'
permalink: "/program/{{ page.fileSlug | slugify }}/"
---

{% capture lang -%}{% if language %} lang="{{ language }}"{% endif %}{%- endcapture %}

{% block content %}
<div class="event">

  <h1{{ lang }}>{%- if canceled %}DESSVERRE AVLYST – {% endif %}{{ title }}</h1>

  <div class="description" {{ lang }}>
    {{ content }}

    {% include 'live-stream.html' %}
  </div>

  {% unless canceled %}
    <div class="metadata">
      {% if audience %}<p>{{ audience }}</p>{% endif %}
      <p>
        {{ event-date | readableDate: 'EEEE dd. MMM' |  capitalize }},
        <time datetime="{{ event-date }}"><br>
          <abbr title="klokken">kl.</abbr> {{ event-date | readableDate: 'T' | replace: ":", "." }}–{{ event-date-end | readableDate: 'T' | replace: ":", "." }}
        </time>
      </p>
      {% if location != null %}       
        <p>Sted/møterom:<br><b>{{ location }}</b></p>     
      {% endif %}
      {% if delta %}<p>📝 <a href="{{ delta }}">Meld deg på i Delta</a></p>{% endif %}    
    </div>
  {% endunless %}

  {% if speakers.length > 0 and speakers[0].name != null %}
  <div class="speakers-list">
    <h2>Foredrags&shy;holder{% if speakers.length > 1 %}e{% endif %}</h2>

    {% for speaker in speakers %}
      <article class="speakers-list__item">
        {%- if speaker.image %}
        <img src="{{ speaker.image }}" alt="" aria-hidden="true" loading="lazy" decoding="auto" class="avatar" eleventy:widths="72">
        {% endif -%}
        <div>
          <h3>
            {{ speaker.name }}{% if speaker.role != null %}, {% endif %}
            {% if speaker.role != null %}<span>{{ speaker.role }}</span>{% endif %}
          </h3>
          {% if speaker.info %}                
            <p>{{ speaker.info }}</p>
          {% endif %}
        </div>
      </article>
    {% endfor %}
    </div>
  {% endif %}

  <div class="backlink">
    <a class="pill-button" href="/program/">Se hele programmet</a>
  </div>

</div>      
{% endblock %}

{% block script %}
{% endblock %}
