---
layout: 'default.html'
---

{% assign events = collections.event | sort: "data.time" %}

{% block content %} 
  {{ content }}
 
  {% comment %} 
    {% include "events.html", events: events %}
      <iframe
      class="video"
      src="https://vimeo.com/event/4269617/embed/882ab89d6f"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture"
      allowfullscreen=""
      title="Live feed for Mangfold i mai"
    ></iframe>
    <script src="https://player.vimeo.com/api/player.js"></script>
  {% endcomment %}
{% endblock %}