---
layout: "default.html"
blobs:
  - '/assets/images/blobs/upper-half-circle.svg'
  - '/assets/images/blobs/triangle.svg'
  - '/assets/images/blobs/wide-rectangle.svg'
---

{% assign archive = collections.opptak | group_by: 'data.year' | sort: "name" | reverse %}

<h1>{{ title }}</h1>

{{ content }}

{% for year in archive %}
  <section class="archive">
    <img src="{{ blobs[forloop.index0] }}" alt="" style="justify-self: {% cycle "end", "center", "end" %}">
    <h2>{{ year.name }}</h2>
    {% assign events = year.items | sort: 'data.title' %}
    <ul>
      {% for event in events %}

        {% capture lang -%}
        {% if event.data.language %} lang="{{ event.data.language }}"{% endif %}    
        {%- endcapture %}

        <li{{ lang }}>
          <h3>
            <a href="{{ event.fileSlug }}-{{ event.data.year }}/">
              {{ event.data.title }}
            </a>
          </h3>
          <p>{{ event.data.speakers | sentence }}</p>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endfor %}