---
layout: 'default.html'
---

{% block content %}
  {%- if image %}
    <img 
      class="portrait" 
      style="view-transition-name: img-{{ title | slugify }}"
      src="/assets/images/speakers/optimized/{{ image }}" 
      alt="{{ title }}" 
      aria-hidden="true"
      loading="eager" 
      decoding="auto" 
      eleventy:widths="400">
  {%- endif %}

  <h1{% if language %} lang="{{ language }}"{% endif %}>{{ title }}</h1> 
  <p class="summary">{{ summary }}.</p>

  {{ content }}
  
  <section aria-labelledby="speaking" class="clear">
    <h2 id="speaking">Foredrag</h2>     
    {% assign events_by_speaker = collections.event | eventsBySpeaker: title %}
    {% assign events = events_by_speaker | sort: "data.event-date" | group_by: "data.day" %} 
    {% include "events.html", events: events %}
  </section>
{% endblock %}