@charset "utf-8";

@font-face {
  font-family: 'O-a11y';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(O-a11y.woff2) format('woff2');
  unicode-range: U+006F;
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 200 1000;
  font-display: swap;
  src: url(Nunito.latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@view-transition {
  navigation: auto;
}

:root {
    --red: #D05C4A;
    --red-nav: #c30000;
    --red-dark: #AE4649;
    --blue-light: #99C3FF;
    --blue-medium: #0067C5;
    --blue-dark: #002252;
    --green: #99DEAD;
    --green-medium: #66C786;
    --green-dark: #4AA571;
    --green-darker: #3A8259;
    --pink: #F9D2CC;
    --purple: #A18DBB;
    --purple-light: #D0C5DD;
    --orange: #FFC166;
    --yellow: #FFD799;

    background:#fafafa;
}

body {
    font-family: 'Nunito', sans-serif;
    line-height: 1.5;
    color: var(--blue-dark);
    margin: 0;
}

a {
    color: var(--blue-dark);

    &:focus-visible {
        outline: 3px dashed var(--purple);
    }
}

picture {
  display: contents;
}


h1, h2, h3 {
    line-height: 1.2;
    margin-top: 1em;
    margin-bottom: .5em;
}

p, ul, ol, dl {
    margin-top: .5em;
}

:is(header, main, footer) {
  --edge: clamp(1.25rem, -2.8rem + 13.5vw, 8rem);
  --wrapper: minmax(0, 100ch);

  display: grid;
  grid-template-columns: 
    var(--edge) auto [wrapper-start] var(--wrapper) [wrapper-end] auto var(--edge);

  & > * {
    grid-column: wrapper;
  }
}

