@view-transition {
  navigation: auto;
}

:root {
    --red: #D05C4A;
    --red-nav: #c30000;
    --red-dark: #ae4649;
    --blue-light: #99c3ff;
    --blue-medium: #0067c5;
    --blue-dark: #002252;
    --green: #99DEAD;
    --green-medium: #66C786;
    --green-dark: #4AA571;
    --green-darker: #3A8259;
    --pink: #F9D2CC;
    --purple: #A18DBB;
    --purple-light: #D0C5DD;
    --orange: #FFC166;
    --yellow: #FFD799;

    background-color: var(--purple-light);
    color-scheme: light dark;
    box-sizing: border-box;
    overflow-y: scroll;
    block-size: 100%;
}

*, :before, :after {
  box-sizing: inherit;
}

body {
    font-family: 'Nunito', system-ui, sans-serif;
    line-height: 1.5;
    color: var(--blue-dark);
    margin: 0;
    background-color: white;
    min-block-size: 100%;
}

a {
    color: var(--blue-dark);

    &:focus-visible {
        outline: 3px dashed var(--purple);
    }
}

picture {
  display: contents;
}

:where(img, svg) {
  max-inline-size: 100%;
  block-size: auto;
}

:where(h1, h2, h3) {
    line-height: 1.2;
    margin-top: 1em;
    margin-bottom: .5em;
}

:where(p, ul, ol, dl) {
    margin-top: .5em;
}

:where(ol, ul):has([class]) {
  padding-inline-start: 0;
  list-style: none;
}



:where(header, main, footer) {
  --edge: clamp(1.25rem, -2.8rem + 13.5vw, 8rem);
  --wrapper: minmax(0, 50ch);

  display: grid;
  grid-template-columns: 
    var(--edge) auto [wrapper-start] repeat(2, var(--wrapper)) [wrapper-end] auto var(--edge);

  & > * {
    grid-column: wrapper;
  }
}

