---
layout: default
---

<div class="container">

    <h1 class="title" {% if page.language %} lang="{{page.language}}"{% endif %}>{{ page.title }}</h1>

    <div class="metadata">
        <ul>

            <!-- DATE AND TIME -->
            <li class="icon date">
                {% include localized-date.html %}
            </li>

            <li class="icon time">
                {{ page.event-date | date: "%k"}}:{{ page.event-date | date: "%M"}} - {{ page.event-date-end | date: "%k"}}:{{ page.event-date-end | date: "%M"}}
            </li>

            <!-- LOCATION -->

            {% case page.location-type %}

                {% when "stream" %}

                    <li class="icon stream">
                        {% if page.location-link %}<a href="{{page.location-link}}">{% endif%}{{ page.location-name }}{% if page.location-link %}</a>{% endif%}
                    </li>

                {% when "in-person" %}

                    <li class="icon in-person">
                        {% if page.location-link %}<a href="{{page.location-link}}">{% endif%}{{ page.location-name }}{% if page.location-link %}</a>{% endif%}
                    </li>

                {% when "hybrid" %}

                    <li class="icon in-person">
                        {% if page.location-link %}<a href="{{page.location-link}}">{% endif%}{{ page.location-name }}{% if page.location-link %}</a>{% endif%}
                    </li>

                    <li class="icon stream">
                        Livestream
                    </li>

            {% endcase %}










            {% if page.location-hybrid %}
            <li class="icon in-person">{{ page.location-hybrid }}</li>
            {% endif%}

        </ul>
    </div>

    <div class="participation-details">
        <ul>
            <!-- PRIVACY -->
            <li class="icon {{ page.privacy}}">
                {% if page.privacy == "internal" %}
                Kun for NAV-ansatte
                {% else %}
                Åpent for hele verden
                {% endif%}
            </li>

            <!-- REGISTRATION -->
            {% if page.privacy == "public" and page.location-type == "stream" %}
            <li class="icon stream">Ingen påmelding</li>
            {% endif %}

            {% if page.privacy == "internal" and page.registration-link %}
            <li class="icon registration-required">
                NAV-ansatte kan melde seg på via <a href="{{ page.registration-link }}">Forms</a>.
            </li>
            {% endif %}

            {% if page.registration-info %}
            <li class="icon registration-required">{{ page.registration-info }}</li>
            {% endif %}


            <!-- CALENDAR LINKS -->
            {% if page.ics %}
            <li class="icon calendar-download">
                <a href="ics/meeting-{{ page.event-date | date: '%Y%m%d' }}-{{ page.slug }}.ics">Legg arrangementet til i kalenderen din (.ics)</a>
                <br>
                {% if page.privacy == "public" and page.location-type == "stream" %}NAV-ansatte kan <a href="{{ page.registration-link }}">be om en Outlook-innkalling</a>{% endif %}
                <br>
            </li>
            {% endif %}
        </ul>
    </div>

    <div class="description" {% if page.language %} lang="{{page.language}}"{% endif %}>
            {{ content }}
        </div>

    <div class="speakers">
        {% if page.speakers %}

            <h2>
                {% if page.speakers[1] %}
                    Foredrags&#x00AD;holderne
                {% else %}
                    Foredrags&#x00AD;holder
                {% endif %}
            </h2>

            {% for speaker in page.speakers %}
                <div class="speaker">
                    {% assign render-speaker-name = undefined %}
                    {% assign render-speaker-url = undefined %}
                    {% assign render-speaker-image = undefined %}
                    {% assign render-speaker-summary = undefined %}


                    {% for site-speaker in site.speakers %}
                    {% if site-speaker.name == speaker %}
                    {% assign render-speaker-name = site-speaker.name %}
                    {% assign render-speaker-url = site-speaker.url %}
                    {% assign render-speaker-image = site-speaker.image %}
                    {% assign render-speaker-summary = site-speaker.summary %}
                    {% endif %}
                    {% endfor %}

                    {% if render-speaker-image %}
                        {% assign image_url = "/assets/images/speakers/" | append: render-speaker-image %}
                        <img src="{{ image_url | relative_url }}" alt="{{ speaker }}" aria-hidden="true">
                    {% endif %}

                    <div class="about">
                        {% if render-speaker-name == undefined %}
                        <span class="name">{{ speaker }}</span>
                        {% else %}
                        <a class="name" href="{{ render-speaker-url | relative_url }}">{{ render-speaker-name }}</a>
                        {% endif %}

                        {% if render-speaker-summary %}
                        <p class="summary">{{render-speaker-summary}}</p>
                        {% endif %}
                    </div>

                </div>
            {% endfor %}
        {% endif %}
    </div>

</div>