---
layout: default
---

{% include page-header.html %}

<section aria-label="participation-details">
    <ul>

        <!-- PRIVACY -->
        <li class="icon {{ page.privacy}}">
            {% if page.privacy == "internal" %}
                Arrangementet er kun for NAV-ansatte.
            {% else %}
                Arrangemenetet er åpent for hele verden.
            {% endif%}
        </li>

        <!-- REGISTRATION -->
        {% if page.privacy == "public" and page.location-type == "stream" %}
            <li class="icon stream">Ingen påmelding, det er bare å delta via <a href="{{page.location-link}}">{{page.location-name}}</a>.
            </li>
        {% endif %}

        {% if page.privacy == "internal" and page.registration-link %}
            <li class="icon internal">
                NAV-ansatte kan <a href="{{ page.registration-link }}">melde seg på via Forms</a>.
            </li>
        {% endif %}

        {% if page.registration-info %}
            <li class="icon registration-required">{{ page.registration-info }}</li>
        {% endif %}

        <!-- CALENDAR LINKS -->
        {% if page.ics %}
            <li class="icon calendar-download">
                <a href="ics/meeting-{{ page.event-date | date: '%Y%m%d' }}-{{ page.slug }}.ics">Last ned kalendereventet (.ics-format).</a>
            </li>
        {% endif %}

        {% if page.privacy == "public" and page.location-type == "stream" %}
            <li class="icon calendar-outlook">
                Ansatt i NAV? <a href="{{ page.registration-link }}">Be om en Outlook-innkalling</a>.
            </li>
        {% endif %}
    </ul>
</section>


<h2>Om arrangementet</h2>


<dl>
    <!-- DATE AND TIME -->
    <dt>Når skjer det?</dt>
    <dd>
        {% include localized-date.html %}
        <br>
        {{ page.event-date | date: "%k"}}:{{ page.event-date | date: "%M"}} - {{ page.event-date-end | date: "%k"}}:{{ page.event-date-end | date: "%M"}}
    </dd>

    <!-- LOCATION -->
    <dt>Hvor skjer det?</dt>

    {% if page.location-name %}
        <dd class="icon location {{ page.location-type }}">
            {% if page.location-link %}<a href="{{page.location-link}}">{% endif%}
            {{ page.location-name }}
            {% if page.location-link %}</a>{% endif%}
        </dd>
    {% endif %}

    {% if page.location-hybrid %}
        <dd class="icon in-person">NAV-ansatte kan se på streamet i Fyrstikkalléen 1 i rom {{ page.location-hybrid }}.</dd>
    {% endif%}

    <!-- SPEAKERS -->
    {% if page.speakers %}
        <dt>Hvem holder foredraget?</dt>

        {% for speaker in page.speakers %}
            {% assign render-speaker-name = undefined %}
            {% assign render-speaker-url = undefined %}

            {% for site-speaker in site.speakers %}
                {% if site-speaker.name == speaker %}
                    {% assign render-speaker-name = site-speaker.name %}
                    {% assign render-speaker-url = site-speaker.url %}
                {% endif %}
            {% endfor %}

            {% if render-speaker-name == undefined %}
                <dd>{{ speaker }}</dd>
            {% else %}
                <dd><a href="{{ render-speaker-url | relative_url }}">{{ render-speaker-name }}</a></dd>
            {% endif %}

        {% endfor %}
    {% endif %}

</dl>

{% if page.language %}<div lang="{{page.language}}">{% endif %}

{{ content }}

{% if page.language %}</div>{% endif %}