<!DOCTYPE html>
<html lang="no">

{% include head.html %}

<body class="layout-home">
<a id="skip" href="#content">Hopp til innholdet.</a>

{% include site-header.html %}

<main id="content" tabindex="-1">
    <div class="wrapper">
        <div class="flash">
            <img class="hero" src="assets/images/people2.png" alt="Fargerike folk" aria-hidden="true">
            <div>{{ content }}</div>
        </div>
    </div>

    {% assign today = "now" | date: "%d" %}
    {% assign month = "now" | date: "%m" %}

    {% if month == "04" %}
        {% include events-list.html title="Dagens agenda" date=today %}
    {% else %}
        {% include events-list.html title="Hva har vi planlagt?" show-filter=true %}
    {% endif %}


</main>

{% include site-footer.html %}

</body>
</html>