<!DOCTYPE html>
<html lang="no">

{% include head.html
title="Mangfold i mai"
summary="Feir mangfold, inkludering og universell utforming!"
url="https://mangfoldimai.no" %}

<body class="layout-home">
<a id="skip" href="#content">Hopp til innholdet.</a>

{% include site-header.html %}

<main id="content" tabindex="-1">
    <div class="wrapper">
        <div class="flash">
            <img class="hero" src="assets/images/people2.webp" alt="Fargerike folk" aria-hidden="true">
            <div>{{ content }}</div>
        </div>
    </div>

    {% assign today = "now" | date: "%d" %}
    {% include events-list.html title="Dagens agenda" date="11" %}

</main>

{% include site-footer.html %}

<!-- Last build: {{ site.time }} -->

</body>
</html>
