<!DOCTYPE html>
<html lang="no">

{% include 'head.html',
title="Om | Mangfold i mai",
summary="Feir mangfold, inkludering og universell utforming!",
url="https://mangfoldimai.no" %}

<body class="layout-{{ page.layout }}">
<a id="skip" href="#content">Hopp til innholdet.</a>

{% include 'site-header.html' %}

<main id="content" tabindex="-1">
    <div class="wrapper">
        {% include 'page-header.html' %}
        {{ content }}
    </div>
</main>

{% include 'site-footer.html' %}

</body>
</html>
