<!DOCTYPE html>
<html lang="no">

{% include head.html
title="Program | Mangfold i mai"
summary="Feir mangfold, inkludering og universell utforming!"
url="https://mangfoldimai.no" %}

<body class="layout-home">
<a id="skip" href="#content">Hopp til innholdet.</a>

{% include site-header.html %}

<main id="content" tabindex="-1">
    <div class="wrapper">
        {% include page-header.html %}

        <form id="program-filter-form">
            <label><input type="radio" name="filter" checked value="all" />Vis alle</label>
            <label><input type="radio" name="filter" checked value="public" />Åpent for alle</label>
            <label><input type="radio" name="filter" checked value="internal" />Bare for NAV-ansatte</label>
        </form>

    </div>

    {% include events-list.html %}

</main>

{% include site-footer.html %}

<script src="{{ "/assets/js/program.js" | relative_url }}"></script>

</body>
</html>