<!DOCTYPE html>
<html lang="no">

{% include 'head.html',
site_title:"Program | Mangfold i mai",
site_summary:"Feir mangfold, inkludering og universell utforming!",
site_url:"https://mangfoldimai.no" %}

{% assign content = content | strip_newlines %}

<body class="layout-home">
<a id="skip" href="#content">Hopp til innholdet.</a>

{% include 'site-header.html' %}

<main id="content" tabindex="-1">
    <div class="wrapper">

        {% if content == "" %}
        {% else %}
        <div class="notice" style="position:relative;top:1rem;margin-top:1rem;">
            {{ content }}
        </div>
        {% endif %}

        <div class="program-header">

            {% include 'page-header.html' %}

            <details>
                <summary><span aria-hidden>⚙️ </span>Filter</summary>
                <form id="program-filter-form">
                    <fieldset>
                        <legend>Filtrer program</legend>
                        <label><input type="radio" name="filter" checked value="all" />Vis alle</label>
                        <label><input type="radio" name="filter" checked value="public" />Åpent for alle</label>
                        <label><input type="radio" name="filter" checked value="internal" />Bare for NAV-ansatte</label>
                        <label><input type="radio" name="filter" checked value="stream" />Nettmøte</label>
                        <label><input type="radio" name="filter" checked value="in-person" />Fysisk arrangement</label>
                        <label><input type="radio" name="filter" checked value="registration-required" />Krever påmelding</label>
                    </fieldset>
                </form>
            </details>
        </div>

    </div>

    {% include 'events-list.html' %}

</main>

{% include 'site-footer.html' %}

<script src="/assets/js/program.js"></script>

</body>
</html>