---
layout: default
---

<header class="header">

    {% if page.image %}
        {% assign image_url = "/assets/images/speakers/" | append: page.image %}
        <img class="speaker-image" src="{{ image_url | relative_url }}" alt="{{ page.name }}">
    {% endif %}

    {% include page-header.html %}
</header>

{{ content }}

<h2>Foredragene</h2>

<ul>
    {% for event in site.events %}
        {% for speaker in event.speakers %}
            {% if speaker == page.name %}
                <li><a href="{{ event.url | relative_url }}">{{ event.title }}</a></li>
            {% endif %}
        {% endfor %}
    {% endfor %}
</ul>
