<!DOCTYPE html>
<html lang="no">

{% capture title %}
{{ page.name }} | Mangfold i mai
{% endcapture %}

{% include head.html
title=title
summary="En av mange talere på Mangfold i mai 2022! Feir mangfold med oss!"
url="https://mangfoldimai.no" %}

<body class="layout-{{ page.layout }}">
<a id="skip" href="#content">Hopp til innholdet.</a>

{% include site-header.html %}

<main id="content" tabindex="-1">
    <div class="wrapper">
<div class="speaker-header">
    {% if page.image %}
        {% assign image_url = "/assets/images/speakers/" | append: page.image %}
        <img class="speaker-image" src="{{ image_url | relative_url }}" alt="{{ page.name }}" aria-hidden="true">
    {% endif %}

    <div>
        {% include page-header.html %}
        {{ content }}
    </div>
</div>


<section class="speaker-events">
    <h2>Foredragene</h2>
    <ul class="event-list">
        {% assign events = site.events | sort: 'event-date' %}

        {% for event in events %}
        {% for speaker in event.speakers %}
        {% if speaker == page.name %}
        <li class="event">
            <div class="event-header">
                <h3 class="title">
                    <a href="{{ event.url | relative_url }}">{{ event.title }}</a>
                </h3>
                <p class="date">
                    <span class="icon date">
                        <date datetime="{{event.event-date}}">{{event.event-date | date: '%d.%m'}}</date>
                    </span>

                    <span class="icon time">
                        <time datetime="{{event.event-date | date: '%H:%M'}}">{{event.event-date | date: '%H:%M'}}</time>
                        <span class="til">til</span>
                        <time datetime="{{event.event-date-end | date: '%H:%M'}}">{{event.event-date-end | date: '%H:%M'}}</time>
                    </span>
                </p>
            </div>
            <p class="summary">{{event.summary}}</p>
        </li>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </ul>
</section>
    </div>
</main>

{% include site-footer.html %}

</body>
</html>
