:root {
    --white: #fff;
    --red: #d05c4a;
    --red-nav: #c30000;
    --red-dark: #ae4649;
    --blue-light: #99c3ff;
    --blue-medium: #0067c5;
    --blue-dark: #002252;
    --gray-light: #e4e6e8;
    --gray: #d4d6d8;
    --green: #99dead;
    --green-medium: #66c786;
    --green-dark: #4aa571;
    --green-darker: #3a8259;
    --pink: #f9d2cc;
    --purple: #a18dbb;
    --purple-light: #d0c5dd;
    --purple-dark: #505096;
    --orange: #ffc166;
    --yellow: #ffd799;

    --edge: clamp(1.25rem, -2.8rem + 13.5vw, 8rem);

    background-color: var(--purple-light);
    color-scheme: light dark;
    box-sizing: border-box;
    overflow-y: scroll;
    block-size: 100%;
    font-size: 1.125em;

    @media (width > 64rem) {
        font-size: 1.25em;
    }
}


// clamp(100%, 50% + 0.666vw, 150%)

*,
:before,
:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-block-size: 100%;
    background-color: #FAFAFA;
    font-family: 'Nunito', system-ui, sans-serif;
    line-height: 1.55;
    color: var(--blue-dark);
    align-items: start;
}

p {
    max-inline-size: 56ch;
    text-wrap: pretty;
}

a {
    color: var(--purple-dark);
    text-decoration-thickness: 0.1ch;
    text-decoration-color: color-mix(in srgb, currentColor 60%, transparent);
    text-underline-offset: 0.125ch;

    &:focus-visible {
        outline: 3px dashed var(--purple);
    }
}

picture {
    display: contents;
}

:where(img, svg) {
    max-inline-size: 100%;
    block-size: auto;
}

:where(h1, h2, h3) {
    margin-block: 0.75lh 0.25lh;
    line-height: 1.2;
}


:where(h1) {
    font-weight: 800;
    margin-block: 0 0.5lh;
    text-wrap: balance;
}
:where(h2) {
    font-size: 1.25em;
}

:where(h2:first-child) {
    margin-block-start: 0.125lh;
}

iframe {
    max-inline-size: 64ch;
    inline-size: 100%;
    block-size: auto;
    aspect-ratio: 16 / 9;
}

:where(p, ul, ol, dl):not([class]) {
    margin-block: 0.25lh 1lh;
}

:where(ol[class], ul[class]) {
    padding-inline-start: 0;
    margin: 0;
    list-style: none;
}

summary {
    cursor: pointer;
}

main {
    padding-block: 2lh;
    container: main / inline-size;
}

::selection {
    background-color: color-mix(in srgb, var(--yellow) 75%, transparent);
    color: black;
}

@media (prefers-reduced-motion: no-preference) {
    @view-transition {
        navigation: auto;
    }

    ::view-transition-group(root) {
        animation-duration: 0.2s;
    }
}

