:root {
    --white: hsl(0, 0%, 100%);
    --red: hsl(8, 59%, 55%);
    --red-nav: hsl(0, 100%, 38%);
    --red-dark: hsl(358, 43%, 48%);
    --blue-light: hsl(215, 100%, 80%);
    --blue-medium: hsl(209, 100%, 36%);
    --blue-dark: hsl(215, 100%, 16%);
    --gray-light: hsl(200, 6%, 91%);
    --gray: hsl(210, 5%, 84%);
    --green: hsl(156, 40%, 60%);
    --green-lighter: hsl(156, 48%, 90%);
    --green-light: hsl(156, 56%, 80%);
    --green-dark: hsl(156, 36%, 48%);
    --green-darker: hsl(156, 64%, 24%);
    --pink: hsl(340, 80%, 72%);
    --pink-dark: hsl(340, 80%, 56%);
    --pink-light: hsl(340, 64%, 90%);
    --purple: hsl(266, 25%, 56%);
    --purple-lighter: hsl(268, 25%, 90%);
    --purple-light: hsl(268, 26%, 82%);
    --purple-dark: hsl(240, 30%, 48%);
    --yellow: hsl(45, 100%, 72%);
    --yellow-light: hsl(45, 80%, 90%);
    --yellow-dark: hsl(45, 100%, 56%);
    --orange: hsl(30, 90%, 72%);
    --orange-light: hsl(30, 96%, 85%);
    --orange-dark: hsl(30, 100%, 48%);

    --edge: clamp(1.25rem, -2.8rem + 13.5vw, 8rem);

    background-color: var(--purple-light);
    color-scheme: light dark;
    box-sizing: border-box;
    overflow-y: scroll;
    block-size: 100%;
    font-size: 1.125em;

    @media (width > 64rem) {
        font-size: 1.25em;
    }
}

*,
:before,
:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-block-size: 100%;
    background-color: #FAFAFA;
    font-family: 'Nunito', system-ui, sans-serif;
    line-height: 1.55;
    color: var(--blue-dark);
    align-items: start;
}

p {
    margin-block: 1lh;
    text-wrap: pretty;
}

main :where(p) {
    max-inline-size: 56ch;
}

a {
    color: var(--blue-medium);
    text-decoration-thickness: 0.1ch;
    text-decoration-color: color-mix(in srgb, currentColor 60%, transparent);
    text-underline-offset: 0.125ch;

    &:focus-visible {
        outline: 3px dashed var(--purple);
    }
    &:hover {
        text-decoration-thickness: 0.2ch;
        color: var(--purple-dark);
    }
}

picture {
    display: contents;
}

:where(img, svg) {
    max-inline-size: 100%;
    block-size: auto;
    vertical-align: top;
}

:where(h1, h2, h3) {
    margin-block: 1.25lh 0.25lh;
    line-height: 1.2;
}


:where(h1) {
    font-weight: 800;
    margin-block: 0 0.5lh;
    text-wrap: balance;
}
:where(h2) {
    font-size: 1.25em;
}

:where(h2:first-child) {
    margin-block-start: 0.125lh;
}

:where(h2, h3, h4) + p {
    margin-block-start: 0.375lh;
}

iframe {
    max-inline-size: 64ch;
    inline-size: 100%;
    block-size: auto;
    aspect-ratio: 16 / 9;
}

:where(ol[class], ul[class]) {
    padding-inline-start: 0;
    list-style: none;
}

:where(ul, ul):not([class]) li ~ li {
    margin-block-start: 0.375lh;
}

summary {
    cursor: pointer;
}

main {
    padding-block: 2lh;
    container: main / inline-size;
}

::selection {
    background-color: color-mix(in srgb, var(--yellow) 75%, transparent);
    color: black;
}

@media (prefers-reduced-motion: no-preference) {
    @view-transition {
        navigation: auto;
    }

    ::view-transition-group(root) {
        animation-duration: 0.2s;
    }
}

