@charset "utf-8";

@use 'fonts';
@use 'base';

:where(#skip) {
  position: absolute;
  overflow: clip;
  clip-path: rect(1px 1px 1px 1px);
  inline-size: 1px;

  &:focus-visible {
    background-color: var(--blue-dark);
    color: var(--gray-light);
    justify-self: center;
    inline-size: unset;
    clip-path: unset;
    padding: 0.25ch 1ch;
    z-index: 2;
  }
}

.site-header {
    padding-block: 0.5lh;
    overflow: clip;
    display: flex;
    inline-size: 100%;
    gap: 0.875em;

    @media (width > 48rem) {
        padding-block-start: 1lh;

        &:before,
        &:after {
            content: "";
            background-color: var(--purple-lighter);
            min-inline-size: var(--edge); 
            border-radius: 99px;
            align-self: stretch;
            flex: 1;
        }
        &:before {
            border-radius: 0 99px 99px 0;
            translate: -2.875rem 0;
        }
        &:after {
            border-radius: 99px 0 0 99px;
        }
    }
}

.nav {
    grid-column: full;
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    flex-basis: 96ch;
    flex-grow: 0;

    @media (width > 48rem) {
        flex-direction: row;
    }
}


:where(.logo, .menu) {
  @media (width > 32rem) {
    grid-row: 1;
  }
}

.logo {
    justify-self: start;
    display: flex;

    @media (width < 48rem) {
        &:before,
        &:after {
            content: "";
            background-color: var(--purple-lighter);
            align-self: stretch;
            border-radius: 99px;
            min-inline-size: var(--edge); 
        }

        &:before {
            border-radius: 0 99px 99px 0;
            translate: -0.5em 0;
        }

        &:after {
            border-radius: 99px 0 0 99px;
            translate: 0.5em 0;
            flex: 1;
        }
    }

    a {
        display: flex;
        gap: 0.5em;
        font-size: 110%;
        font-weight: 700;
        text-decoration: none;
        color: currentColor;

        span {
            display: flex;
            background-color: var(--green-light);
            outline-offset: -3px;
            border-radius: 99px;
            padding: 0 1.5ch;
            align-items: center;
            view-transition-name: menu;
        }

        &[aria-current="page"] {
            span {
                background-color: var(--white);
                outline: 3px solid var(--purple-dark);
            }
        }
        &:hover {
            span {
                background-color: var(--blue-dark);
                outline: 3px solid var(--blue-dark);
                color: var(--white);
            }
        }
    }
    svg {
        @media (width > 48rem) {
            margin-inline-start: -3rem;
        }
    }
}

.menu {
    grid-column: wrapper;
    list-style: none;
    padding-inline-start: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.625em;
    flex: 1;
    font-weight: 600;
    margin-block: 0;

    &:before,
    &:after {
        content: "";
        background-color: var(--purple-lighter);
        align-self: stretch;
        border-radius: 99px;
        flex: 1;        
    }
    &:before {
        @media (width < 48rem) {
            border-radius: 0 99px 99px 0;
        }
    }
    &:after {
        @media (width < 48rem) {
            border-radius: 99px 0 0 99px;
        }
        @media (width > 48rem) {
            display: none;
        }
    }
    li {
        display: contents;

        &:first-of-type :where(a) {
            background-color: var(--yellow);
        }
        &:last-of-type :where(a) {
            background-color: var(--orange);
        }
    }
    a {
        line-height: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.75em 1em;
        border-radius: 99px;
        background-color: var(--gray-light);
        text-decoration: none;
        position: relative;
        color: currentColor;
        view-transition-name: menu;
        outline-offset: -3px;

        &[aria-current="page"] {
            outline: 3px solid var(--purple-dark);
            background-color: var(--white);
        }
        &:hover {
            text-decoration: none;
            outline: 3px solid var(--blue-dark);
            background-color: var(--blue-dark);
            color: var(--white);
        }
    }
    
}

.page-header {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    gap: 0.25lh 2ch;
}

.container {
    max-inline-size: calc(96ch + (var(--edge) * 2));
    inline-size: 100%;
    margin-inline: auto;
    padding-inline: var(--edge);
}

.dateblob {
    background-color: color-mix(in srgb, var(--purple-light) 40%, white);
    display: inline-grid;
    place-items: center;
    align-content: center;
    gap: 0.125lh;
    border-radius: 40%;
    inline-size: 4.5ch;
    aspect-ratio: 1 / 1;
    text-decoration: none;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    line-height: 1;
    color: inherit;
    translate: -0.125ch -0.125lh;
}
a.dateblob:hover {
    background-color: color-mix(in srgb, var(--purple-light) 80%, white);
}

.dateblob--sticky {
    position: sticky;
    inset-block-start: 0.5lh;
    margin-block-end: 0.875lh;
}

.dateblob__day {
    text-transform: uppercase;
    font-size: 55%;
    font-weight: 650;
    letter-spacing: 0.05ch;
    translate: 0 0.125lh;
}

.dateblob__date {
    font-size: 120%;
    font-weight: 800;
    translate: 0 0.1lh;
}

.series {
    margin-block-end: 0.5lh;
    border-block-end: 1px solid var(--purple-light);
}

.series__day {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
    align-content: start;
    column-gap: 1ch;
    padding-block-start: 1lh;
    border-block-start: 1px solid var(--purple-light);
}

.series__events {
    grid-column: 2;
    margin-block: 0;
}
.series__event {
    padding-block: 0.25lh 1.5lh;

    @media (width > 64rem) {
        display: grid;
        grid-template-columns: [main] 1fr [side] clamp(10rem, -2rem + 20vw, 14rem);
        column-gap: 4ch;
    }

    &:not(:first-of-type) {
        padding-block-start: 1.125lh;
        border-block-start: 1px solid var(--purple-light);
    }

    & > * {
        grid-column: main;
    }
    .title {
        margin-block-end: 0.25lh;
    }

    p:last-of-type {
        margin-block-end: 0.75lh;

        @media (width > 64rem) {
            margin-block-end: 0;
        }
    }
    .tags {
        grid-column: side;
        align-self: center;
        grid-row: 1 / span 3;
        margin-block-end: 0;
    }
}

.speaker-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(32ch, 100%), 1fr));
    justify-content: space-between;
    gap: 1lh 8ch;
}

.speaker-card {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 2ch;
    align-items: start;

    &:has(picture) > div {
        grid-column: 2;
    }

    picture {
        display: block;
        translate: 0 0.125lh;
        grid-column: 1;
        grid-row: 1;
    }
    img {
        aspect-ratio: 1;
        overflow: clip;
        object-fit: cover;
        border-radius: 42%;
        max-inline-size: clamp(4.5rem, 3.625rem + 4.375vw, 8rem);
    }
    :is(h2, h3) {
        margin-block-start: 0.25lh;
        grid-row: 1;
    }
    p {
        text-wrap: balance;
    }
}


.site-footer {
    background-color: color-mix(in srgb, var(--purple-light) 40%, white);
    padding-block: 1lh;
    margin-block-start: 3lh;
    border-image: conic-gradient(color-mix(in srgb, var(--purple-light) 40%, white) 0 0) fill 0 / / 0 100vw;

    .wrapper {
        @media (width > 64rem) {
            display: grid;
            grid-template-columns: 2fr 1fr;
            gap: 1lh 4ch;
        }
    }
    p {
        @media (width > 64rem) {
            margin-block-start: 0;
        }
        &:last-of-type {
            margin-block-end: 0;
        }
    }
}

.time {
    margin-block-end: 0.25lh;
}

.title {
    font-size: 1.25em;
    font-weight: 700;
    margin-block: 0.25lh;
}

.badge {
    border-radius: 99ch;
    background-color: var(--gray-light);
    font-size: 81.25%;
    line-height: 1.4;
    padding: 0.5ch 1.25ch;
    white-space: nowrap;

    &.red {
        background-color: color-mix(in srgb-linear, var(--red) 30%, white);
    }

    &.blue {
        background-color: color-mix(in srgb-linear, var(--blue-light) 40%, white);
    }

    &.green {
        background-color: color-mix(in srgb-linear, var(--green) 40%, white);
    }

    &.yellow {
        background-color: color-mix(in srgb-linear, var(--yellow) 50%, white);
    }

    &.purple {
        background-color: color-mix(in srgb-linear, var(--purple-light) 50%, white);
    }

}

.name {
    font-size: 1.25em;
    font-weight: 700;    
}

.portrait {
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border-radius: 42%;
    max-inline-size: clamp(6rem, 3.3333rem + 13.3333vw, 14rem);
    float: right;
    margin-inline-start: 3ch;
    margin-block-end: 0.5lh;

    @media (width > 64rem) {
        margin-inline-start: 6ch;
    }
}

.metadata {
    margin-block-start: 1.5lh;
    line-height: 1.5;
    
    @media (width > 75rem) {
        float: right;
        max-inline-size: 28ch;
        margin-inline-start: 4ch;
        margin-block-start: clamp(-2lh, -1vh - 3vi, -1lh);
    }
}

.date-location {
    display: flex;
    align-items: start;
    column-gap: 1.5ch;

    time {
        font-weight: 700;
    }
    p {
        margin-block: 0;
        text-wrap: balance;
        max-inline-size: 36ch;
    }
    .dateblob {
        flex-shrink: 0;
    }
    .tags {
        grid-column: 1 / -1;
        margin-block: 1lh 0;
    }
}


.ical {
    border: 0;
    background-color: var(--purple-dark);
    padding: 0.5ch 3ch;
    font: inherit;
    border-radius: 99px;
    color: var(--white);
    margin-block: 1lh;
    inline-size: min(32ch, 100%);

    @media (width > 64rem) {
        grid-column: 2;
        grid-row-start: 2;
        margin-block-start: 0.5lh;
        justify-self: end;
    }

}

.delta {
    display: inline-block;
    border-radius: 99px;
    background-color: var(--blue-light);
    padding: 0.25lh 1.75ch 0.25lh 1ch;
    margin-block-start: 0.5lh;
    color: var(--blue-dark);
    font-weight: 600;
    text-decoration: none;
    margin-inline-start: -1ch;

    &:hover {
        background-color: var(--blue-dark);
        color: var(--white);
    }
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75ch 0.5ch;
    translate: -0.125ch 0;
    margin-block-end: 1lh;
}

.hero {
    inline-size: 100%;
    max-inline-size: 48ch;

    @media (width > 64rem) {
        float: right;
        margin: 0 0 1lh 4ch;
    }
}

p:has(img) {
    display: contents;
}

.filter {
    position: relative;
    z-index: 2;

    & form {
        position: absolute;
        inset-block-start: 1lh;
        inset-inline-end: 0;
        inline-size: 40rem;
        max-inline-size: 24ch;
        background-color: #FAFAFA;
    }
    & fieldset {
        display: grid;
    }
}

.program {
    h3 {
        text-wrap: balance;
    }
    p:last-of-type {
        margin-block-end: 0;
    }
}

.program__event {
    border-block-start: 1px solid var(--gray);
    padding-block: 0.75lh;

    @media(width > 48rem) {
        display: grid;
        grid-template-columns: auto 1fr;
        column-gap: clamp(1rem, 0.6667rem + 1.6667vw, 2rem);
        align-items: baseline;    
    }

    h2 {
        font-size: 1rem;
        font-weight: 400;
    }
    p {
        max-inline-size: none;
    }
}


.archive {   
    --_bg: var(--gray-light);
    --_border: var(--gray);
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-flow: column dense;

    &__chapter {
        grid-column: 1;
        align-self: end;
        margin-block: 0 0.5lh;
        inline-size: fit-content;
        scroll-margin-block-start: 2lh;

        a {
            text-decoration: none;
            color: currentColor;
        }
    }
    &__blob {
        translate: 0 1px;
        vertical-align: bottom;
        max-inline-size: max(96px, 6% + 3vi);
        margin-inline: 15%;
        align-self: end;
    }
    &__events {
        border-block-start: 1px solid var(--gray);
        grid-column: 1 / -1;
        padding-inline-start: 0;
        margin-block: 0 1lh;
        padding-block: 1lh;
        list-style: none;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(100%, 32ch), 1fr));
        gap: 1rem;
        min-inline-size: 0;
    }
    &__event {
        padding: 1lh 12% 1lh 6%;
        // aspect-ratio: 16/9;
        display: grid;
        align-items: start;
        align-content: start;
        background-color: var(--_bg);
        outline: 2px solid var(--_border);
        border-radius: 8px;
        position: relative;
        overflow: clip;
        transition: background-color 100ms, outline 100ms ease-out;  

        &:has(a:hover) {
            outline-width: 4px;
            background-color: var(--white);
        }

        h3 {
            font-size: clamp(1rem, 0.9583rem + 0.2083vw, 1.125rem);
            min-inline-size: 0;
            text-wrap: balance;
            line-height: 1.35;
            margin-block: 0 0.125lh;
        }

        a:hover {
            text-decoration-thickness: 0.125ch;
            transition: text-decoration 150ms;
        }

        p {
            max-inline-size: none;
        }

        p:last-of-type {
            margin-block-end: 0;
        }

        a:before {
            content: "";
            position: absolute;
            inset: 0;
        }
    }
    & [data-theme="2024"] {
        --_bg: var(--yellow-light);
        --_border: var(--orange);
    }
    & [data-theme="2023"] {
        --_bg: var(--green-lighter);
        --_border: var(--green);
    }
    & [data-theme="2022"] {
        --_bg: var(--pink-light);
        --_border: var(--pink);
    }

}

.key-info {
    display: flex;
    flex-direction: column;
    gap: 0.125lh 2ch;
}

.edit {
    background-color: var(--blue-dark);
    color: var(--white);
    text-align: center;
    padding: 0.125lh 2ch 0.25lh;

    a {
        font-size: 81.75%;
        color: inherit;
    }
}

.video {
    display: grid;
    aspect-ratio: 16 / 9;
    max-inline-size: 640px;
    background-color: var(--gray-light);
    border-radius: 2px;
    transition: border-radius 600ms;
    overflow: clip;
}

.video > * {
    grid-area: 1 / 1
}

.video button {
    background-color: transparent;
    padding: 0;
    border: none;
    font: inherit;
}
.video picture {
    pointer-events: none;
    display: block;
    vertical-align: top;
}
.video span {
    display: block;
    margin-block-end: -0.75lh;
    text-shadow: 0 1px 2px #0009;
}

.video iframe {
    vertical-align: top;
}

.icon {
    vertical-align: text-top;
    opacity: 0.8;
    pointer-events: none;
    margin-inline-end: 0.125ch;
}

.canceled {
    text-decoration-line: line-through;
}

.clear {
    clear:both;
}

.sr-only {
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    overflow: hidden;
}

[hidden] { display: none }


#content:focus-visible {
    outline: none;
}