@charset "utf-8";

@use 'fonts';
@use 'base';

:where(#skip) {
  position: absolute;
  overflow: clip;
  clip-path: rect(1px 1px 1px 1px);
  inline-size: 1px;

  &:focus-visible {
    background-color: var(--blue-dark);
    color: var(--gray-light);
    justify-self: center;
    inline-size: unset;
    clip-path: unset;
    padding: 0.25ch 1ch;
    z-index: 2;
  }
}

.site-header {
    padding-block-start: 0.5lh;
    overflow: clip;
    display: flex;
    inline-size: 100%;
    gap: 0.875em;

    @media (width > 48rem) {
        padding-block-start: 1lh;

        &:before,
        &:after {
            content: "";
            background-color: var(--gray-light);
            align-self: stretch;
            border-radius: 99px;
            min-inline-size: var(--edge); 
            flex: 1;
        }
        &:before {
            border-radius: 0 99px 99px 0;
            translate: -2.875rem 0;
        }
        &:after {
            border-radius: 99px 0 0 99px;
        }
    }
}

.nav {
    grid-column: full;
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    flex-basis: 96ch;
    flex-grow: 0;

    @media (width > 48rem) {
        flex-direction: row;
    }
}


:where(.logo, .menu) {
  @media (width > 32rem) {
    grid-row: 1;
  }
}

.logo {
    font-weight: 700;
    font-size: 125%;
    text-decoration: none;
    justify-self: start;
    display: flex;

    @media (width < 48rem) {
        &:before,
        &:after {
            content: "";
            background-color: var(--gray-light);
            align-self: stretch;
            border-radius: 99px;
            min-inline-size: var(--edge); 
        }
        &:before {
            border-radius: 0 99px 99px 0;
            translate: -0.5em 0;
        }
        &:after {
            border-radius: 99px 0 0 99px;
            translate: 0.5em 0;
            flex: 1;
        }
    }


    a {
        display: flex;
        gap: 0.5em;
        text-decoration: none;
        color: currentColor;

        &:hover {
            span {
                background-color: var(--purple-light);
                border-color: var(--blue-dark);
                color: var(--blue-dark);
            }
        }
    }
    span {
        display: flex;
        border: 3px solid var(--purple-dark);
        border-radius: 99px;
        padding: 0 0.75em;
        align-items: center;
        color: var(--purple-dark);
    }
    svg {
        @media (width > 48rem) {
            margin-inline-start: -3rem;
        }
    }
}

.menu {
    grid-column: wrapper;
    list-style: none;
    padding-inline-start: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.625em;
    flex: 1;

    &:before,
    &:after {
        content: "";
        background-color: var(--gray-light);
        align-self: stretch;
        border-radius: 99px;
        flex: 1;        
    }
    &:before {
        @media (width < 48rem) {
            border-radius: 0 99px 99px 0;
        }
    }
    &:after {
        @media (width < 48rem) {
            border-radius: 99px 0 0 99px;
        }
        @media (width > 48rem) {
            display: none;
        }
    }
    li {
        display: contents;

        &:first-of-type a {
            background-color: var(--green);
        }
        &:last-of-type a {
            background-color: var(--yellow);
        }
    }
    a {
        line-height: 1;
        display: flex;
        align-items: center;
        padding: 0.75em 1em;
        border-radius: 99px;
        background-color: var(--gray-light);
        text-decoration: none;
        color: currentColor;

        &:hover {
            text-decoration: none;
        }
    }
    
}

.page-header {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    gap: 0.25lh 2ch;
}

.container {

    display: grid;
    grid-template-columns: 
        [full-start] var(--edge) auto 
        [wrapper-start] repeat(1, minmax(0, 96ch)) 
        [wrapper-end] auto var(--edge) 
        [full-end];

    & > * {
        grid-column: wrapper;
    }
}

.dateblob {
    background-color: color-mix(in srgb, var(--purple-light) 40%, white);
    display: inline-grid;
    place-items: center;
    align-content: center;
    gap: 0.125lh;
    border-radius: 40%;
    inline-size: 3.75ch;
    aspect-ratio: 1 / 1;
    text-decoration: none;
    grid-row: span 2;
    padding: 0.25rem 0.5rem;
    line-height: 1;
    color: inherit;
    translate: -0.125ch -0.125lh;
}
a.dateblob:hover {
    background-color: color-mix(in srgb, var(--purple-light) 80%, white);
}

.dateblob--sticky {
    position: sticky;
    inset-block-start: 0.5lh;
    margin-block-end: 0.875lh;
}

.dateblob__day {
    text-transform: uppercase;
    font-size: 50%;
    font-weight: 600;
    letter-spacing: 0.05ch;
    translate: 0 0.125lh;
}

.dateblob__date {
    font-size: 100%;
    font-weight: 800;
    translate: 0 0.025lh;
}

.series {
    margin-block-end: 0.5lh;
    border-block-end: 1px solid var(--purple-light);
}

.series__day {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
    align-content: start;
    column-gap: 1.5ch;
    padding-block-start: 1lh;
    border-block-start: 1px solid var(--purple-light);
}

.series__events {
    grid-column: 2;
    margin-block: 0;
}
.series__event {
    padding-block: 0.25lh 1.5lh;

    @media (width > 64rem) {
        display: grid;
        grid-template-columns: [main] 1fr [side] 24ch;
        column-gap: 4ch;
    }

    &:not(:first-of-type) {
        padding-block-start: 1.125lh;
        border-block-start: 1px solid var(--purple-light);
    }

    & > * {
        grid-column: main;
    }

    p:last-of-type {
        margin-block-end: 0.75lh;

        @media (width > 64rem) {
            margin-block-end: 0;
        }
    }
    .tags {
        grid-column: side;
        align-self: center;
        grid-row: 1 / span 3;
    }
}



.speaker-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(32ch, 100%), 1fr));
    justify-content: space-between;
    gap: 1lh 8ch;
}

.speaker-card {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 2ch;
    align-items: start;

    &:has(picture) > div {
        grid-column: 2;
    }

    picture {
        display: block;
        translate: 0 0.125lh;
        grid-column: 1;
        grid-row: 1;
    }
    img {
        aspect-ratio: 1;
        overflow: clip;
        object-fit: cover;
        border-radius: 40%;
        max-inline-size: clamp(4.5rem, 4rem + 2.5vw, 6rem);
    }
    :is(h2, h3) {
        margin-block-start: 0.25lh;
        grid-row: 1;
    }
    p {
        text-wrap: balance;
    }
}


.site-footer {
    background-color: color-mix(in srgb, var(--purple-light) 40%, white);
    padding-block: 1lh;
    margin-block-start: 3lh;
}


.time {
    margin-block-end: 0.25lh;
}

.title {
    font-size: 1.25em;
    font-weight: 700;
    margin-block-start: 0.125lh;
}

.badge {
    border-radius: 99ch;
    background-color: var(--gray-light);
    font-size: 81.25%;
    line-height: 1.4;
    padding: 0.5ch 1.25ch;
    white-space: nowrap;

    &.red {
        background-color: color-mix(in srgb-linear, var(--red) 30%, white);
    }

    &.blue {
        background-color: color-mix(in srgb-linear, var(--blue-light) 40%, white);
    }

    &.green {
        background-color: color-mix(in srgb-linear, var(--green) 40%, white);
    }

    &.yellow {
        background-color: color-mix(in srgb-linear, var(--yellow) 50%, white);
    }

    &.purple {
        background-color: color-mix(in srgb-linear, var(--purple-light) 50%, white);
    }

}

.name {
    font-size: 1.25em;
    font-weight: 700;    
}

.speaker {
    h1 {
        margin-block: 0 0.25lh;
        text-wrap: balance;
        align-self: end;        
    }
    img {
        object-fit: cover;
        aspect-ratio: 1 / 1;
        border-radius: 40%;
        max-inline-size: clamp(6rem, 4rem + 10vw, 12rem);
        float: right;
        clear: right;
        margin-inline-start: 3ch;
        margin-block-end: 0.5lh;

        @media (width > 48rem) {
            margin-inline-start: 6ch;
        }
    }
}

.event {
    display: grid;
    container: event / inline-size;

    @media (width > 64rem) {
        grid-template-columns: 2fr 1fr;
        column-gap: 6ch;
        align-items: start;
    }

    & > * {
        @media (width > 64rem) {
            grid-column: 1;
        }
    }
    h1 {
        grid-column: 1 / -1;
    }

    .metadata {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: start;
        column-gap: 1.5ch;
        margin-block-end: 1.5lh;
        line-height: 1.5;

        & > * {
            grid-column: 2;
        }
    
        time {
            font-weight: 700;
        }
        p {
            margin-block: 0;
            text-wrap: balance;
        }
        .dateblob {
            font-size: 1.5em;
            grid-column: 1;
            grid-row: 1 / span 3;
        }
        .tags {
            grid-column: 1 / -1;
            margin-block: 1lh 0;
        }
    }
}


.ical {
    border: 0;
    background-color: var(--purple-dark);
    padding: 0.5ch 3ch;
    font: inherit;
    border-radius: 99px;
    color: var(--white);
    margin-block: 0 1lh;
    inline-size: max-content;

    @media (width > 64rem) {
        grid-column: 2;
        grid-row-start: 2;
        margin-block-start: 0.5lh;
        justify-self: end;
    }

}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75ch 0.5ch;
    translate: -0.125ch 0;
}

.hero {
    inline-size: 100%;
    max-inline-size: 48ch;

    @media (width > 48rem) {
        float: right;
        margin: 0 0 1lh 3ch;
    }
}

p:has(img) {
    display: contents;
}

.filter {
    position: relative;
    z-index: 2;

    & form {
        position: absolute;
        inset-block-start: 1lh;
        inset-inline-end: 0;
        inline-size: 40rem;
        max-inline-size: 24ch;
        background-color: #FAFAFA;
    }
    & fieldset {
        display: grid;
    }
}

.canceled {
    text-decoration-line: line-through;
}
