@charset "utf-8";

@use 'fonts';
@use 'base';


:where(#skip) {
  position: fixed;
  overflow: clip;
  clip-path: rect(1px 1px 1px 1px);
  inline-size: 1px;

  &:focus-visible {
    background-color: var(--blue-dark);
    color: var(--gray-light);
    justify-self: center;
    inline-size: unset;
    clip-path: unset;
    padding: 0.25ch 1ch;
    z-index: 2;
    align-self:start;
  }
}

body {
    position:relative;
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-items: start;
}

body.show-cookie-banner {
    grid-template-rows: auto auto 1fr auto;
}


.site-header {
    padding-block: 0.5lh;
    overflow: clip;
    display: flex;
    inline-size: 100%;
    gap: 0.875em;

    @media (width > 48rem) {
        padding-block-start: 1lh;

        &:before,
        &:after {
            content: "";
            background-color: var(--purple-lighter);
            min-inline-size: var(--edge); 
            border-radius: 99px;
            align-self: stretch;
            flex: 1;
        }
        &:before {
            border-radius: 0 9in 9in 0;
            translate: -2.875rem 0;
        }
        &:after {
            border-radius: 9in 0 0 9in;
        }
    }
}

.nav {
    grid-column: full;
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    flex-basis: 96ch;
    flex-grow: 0;

    @media (width > 48rem) {
        flex-direction: row;
    }
}


:where(.logo, .menu) {
  @media (width > 32rem) {
    grid-row: 1;
  }
}

.logo {
    justify-self: start;
    display: flex;

    @media (width < 48rem) {
        &:before,
        &:after {
            content: "";
            background-color: var(--purple-lighter);
            align-self: stretch;
            border-radius: 99px;
            min-inline-size: var(--edge); 
        }

        &:before {
            border-radius: 0 99px 99px 0;
            translate: -0.5em 0;
        }

        &:after {
            border-radius: 99px 0 0 99px;
            translate: 0.5em 0;
            flex: 1;
        }
    }

    a {
        display: flex;
        gap: 0.5em;
        font-size: 110%;
        font-weight: 700;
        text-decoration: none;
        border-radius: 99px;
        color: currentColor;
        white-space: nowrap;
        border-radius: 99px;

        span {
            border-radius: 99px;
            display: flex;
            background-color: var(--purple-dark);
            color: var(--white);
            outline-offset: -3px;
            padding-inline: 1.5ch;
            align-items: center;
            view-transition-name: menu;
        }

        &[aria-current="page"] {
            span {
                background-color: var(--white);
                outline: 3px solid var(--purple-dark);
                color: var(--blue-dark);
            }
        }
        &:hover {
            span {
                background-color: var(--blue-dark);
                outline: 3px solid var(--blue-dark);
                color: var(--white);
            }
        }
    }
    svg {
        flex-shrink: 0;
    
        @media (width > 48rem) {
            margin-inline-start: -3rem;
        }
    }
}

.menu {
    grid-column: wrapper;
    list-style: none;
    padding-inline-start: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.625em;
    flex: 1;
    font-weight: 600;
    margin-block: 0;

    &:before,
    &:after {
        content: "";
        background-color: var(--purple-lighter);
        align-self: stretch;
        border-radius: 99px;
        flex: 1;        
    }
    &:before {
        @media (width < 48rem) {
            border-radius: 0 99px 99px 0;
        }
    }
    &:after {
        @media (width < 48rem) {
            border-radius: 99px 0 0 99px;
        }
        @media (width > 48rem) {
            display: none;
        }
    }
    li {
        display: contents;

        &:first-of-type :where(a) {
            background-color: var(--yellow);
        }
        &:last-of-type :where(a) {
            background-color: var(--orange);
        }
    }
    a {
        line-height: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.625em 0.875em;
        border-radius: 99px;
        background-color: var(--gray-light);
        text-decoration: none;
        position: relative;
        color: currentColor;
        view-transition-name: menu;
        border: 3px solid transparent;

        &[aria-current="page"] {
            border-color: var(--purple-dark);
            background-color: var(--white);
        }
        &:hover {
            text-decoration: none;
            border-color: var(--blue-dark);
            background-color: var(--blue-dark);
            color: var(--white);
        }
        &:focus-visible {
            outline-offset: 2px;
        }
    }
    
}

.page-header {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    gap: 0.25lh 2ch;
}

.container {
    max-inline-size: calc(96ch + (var(--edge) * 2));
    inline-size: 100%;
    margin-inline: auto;
    padding-inline: var(--edge);
}

.program__day {
    display: grid;
    grid-template-columns: 12ch 1fr;

    h2 {
        container-type: scroll-state;
        container-name: sticky-heading;
        margin-block-end:0;
        background-color: var(--gray-lighter);
        z-index: 30;
        justify-self: start;

        @media (width > 56rem) {
            position: sticky;
            top: 0;
        }
        span {
            transition: background-color 300ms, color 300ms;
            display: inline-block;
            padding: 0.25lh 0.75ch;
            margin-inline: -0.75ch;
            border-radius: 0 0 0.5em 0.5em;
            background-color: var(--gray-lighter);

            @container sticky-heading scroll-state(stuck: top) {
                background-color: var(--purple-lighter);
            }
        }
    }
   

    h3 {
        font-size: 1.125rem;
        font-weight: 700;
        margin-block: 0 0.125lh;
        grid-column: 1 / -1;
        text-wrap: balance;
    }

    p:last-of-type { margin-block-end: 0 }
}

.program__description {
    grid-column: 1/-1;
    border-block-end: 2px solid var(--purple-lighter);
    inset-block-start: -2px;
    display: grid;

    p { 
        margin-block-start: 0;
        padding-block-end: 1lh;
     }

    img {
        grid-column: 2;
        grid-row: 1 / span 2;
        margin-inline: auto;
        margin-block: auto -1px;
        max-inline-size: max(128px, 48px + 4vi);
    }
}

.program__timestamp {
    grid-column: 1;
    font-size: 1rem;
    font-weight: 400;
    display: inline-block;
    margin-block-end: 0.125lh;
}

.program__timeslot {
    grid-column: 1/-1;
    padding-block: 1.125lh;

    @media (width > 48rem) {
        display: grid;
        grid-template-columns: subgrid;
        align-items: baseline;
    }

    & + & {
        border-block-start: 1px dashed var(--purple-light);
    }

    p {
        max-inline-size: none;
    }
}

.program__event {
    grid-column: 2;

    & + & {
        margin-block-start: 1.5lh;
    }
    .speakers {
        display: flex;
        flex-wrap: wrap;
        column-gap: 1ch;
        margin-block-start: 0.25lh;
        max-inline-size: 64ch;
    }
    :where(.avatar, .icon) {
        translate:0 0.0875lh;
    }
    .tags {
        margin-block-start: 0.25lh;
        margin-inline-start: -0.375ch;
    }
}




.pause {
    border-image: conic-gradient(var(--yellow-light)) fill 1/0 100% / 0 100vw;
    background-color: var(--yellow-light);
    border-radius: 99ch;
    padding-block: 0.5lh 0.375lh;

    @media (width > 48rem) {
        border-image: none;
        border: 0 !important;
        padding-inline: calc(2ch + 2vw);
        margin-inline: calc((2ch + 2vw) * -1);
        margin-block: 0.5lh;
    }

    & + .program__timeslot {
        border-block-start: 0;
    }
}

.event {
    display: grid;
    align-content: start;

    @media (width > 56rem) {
        grid-template-columns: 1fr 25ch;
        column-gap: 6ch;
    }

    & > h1 {
        @media (width > 56rem) {
            margin-block:0.125lh 0.375lh;
        }
    }
    & > :not(.signup) {
        @media (width > 56rem) {
            grid-column-start: 1;
        }
    }
    & > .signup {
        align-self: start;

        @media (width > 56rem) {
            grid-column: 2;
            grid-row: span 8;
        }
    }

    .tags {
        margin-block: 0.25lh;
    }

    .metadata {
        margin-block-end: 1lh;
    }

    .description > *:first-child {
        margin-block-start: 0;
    }
    
    .speakers {
        border-block-start: 1px solid var(--purple-lighter);
        padding-block-start: 1lh;
        margin-block-start: 0.25lh;
        
        .byline {
            column-gap: 1.25ch;
            margin-block-start: 0.5lh;
        }
        .byline__text {
            margin-block-start: 0.25lh;
        }
        .byline__info {
            margin-block-start: 1lh;        
        }
        .icon {
            opacity: 0.8;
            pointer-events: none;
            background-color: var(--purple-lighter);
            translate: 0 -0.25lh;
            aspect-ratio: 1;
            padding:0.75em;
            inline-size: 3em;
            border-radius: 1in;
            margin-inline-start: -0.25ch;
        }
    }
    .stream a {
        display: inline-flex;
        margin-block: 0.25lh;
        margin-inline-start: -0.25ch;

    }
}




.signup {
    background-color: var(--orange-light);
    border-radius: 1em;
    padding: 1em;
    margin-block: 0 1.5lh;
    line-height: 1.5;
    max-inline-size: 36ch;
    inline-size: stretch;
    
    @media (width > 56rem) {
        margin-block-start: 1.375lh;
    }
    p:first-of-type {
        margin-block-start: 0;
    }
    p:last-of-type {
        margin-block-end: 0.5lh;
    }
    .rounded-button {
        display: grid;
        margin-block-start: 0.25lh;
    }
}

.stream {
    margin-block-start: -0.75lh;

    @media (width > 56rem) {
        grid-column: 2;
    }
}


.avatar {
    aspect-ratio: 1;
    overflow: clip;
    object-fit: cover;
    border-radius: 9in;
    box-shadow: 0 -1px hsl(from var(--blue-dark) H S L / 0.2);
}

.byline {
    margin-block: 0.125lh;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: start;
    column-gap: 0.625ch;
}

.byline__image {
    align-self: start;
    vertical-align: top;
}

:is(.byline__name, .byline__role) {
    margin: 0;
}

.blob-grid {
    display: grid;
    grid-template-columns: 3fr auto 2fr;
    align-items: end;
    grid-auto-flow: dense;
    align-content: end;
    column-gap: 1ch;
    margin-block-start: -2lh;

    :where(img:nth-child(1), img:nth-child(3)) {
        grid-row: 2;
    }
    img:nth-child(2) {
        grid-row: 1;
        margin-block-start: -0.25lh;
        justify-self: center;

        @media (width > 32rem) {
            grid-row: 2;
            grid-column: 2;
        }
    }
    img:nth-child(3) {
        grid-row: 1 / span 2;
        grid-column: 2 / span 2;
        justify-self: end;
    }
}

.site-footer {
    background-color: color-mix(in srgb, var(--purple-light) 40%, white);
    padding-block: 1lh;
    border-image: conic-gradient(color-mix(in srgb, var(--purple-light) 40%, white) 0 0) fill 0/0/0 100vw;

    .wrapper {
        @media (width > 64rem) {
            display: grid;
            grid-template-columns: 2fr 1fr;
            gap: 1lh 4ch;
        }
    }
    p {
        @media (width > 64rem) {
            margin-block-start: 0;
        }
        &:last-of-type {
            margin-block-end: 0;
        }
    }
}



.delta {
    display: inline-block;
    border-radius: 99px;
    background-color: var(--blue-light);
    padding: 0.25lh 1.75ch 0.25lh 1ch;
    margin-block-start: 0.5lh;
    color: var(--blue-dark);
    font-weight: 600;
    text-decoration: none;
    margin-inline-start: -1ch;

    &:hover {
        background-color: var(--blue-dark);
        color: var(--white);
    }
}

.hero {
    inline-size: 100%;
    max-inline-size: 48ch;

    @media (width > 64rem) {
        float: right;
        margin: 0 0 1lh 4ch;
    }
}

.archive {   
    --_bg: var(--gray-light);
    --_border: var(--gray);
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-flow: column dense;
}
.archive__chapter {
    grid-column: 1;
    align-self: end;
    margin-block: 0 0.5lh;
    inline-size: fit-content;
    scroll-margin-block-start: 2lh;

    a {
        text-decoration: none;
        color: currentColor;
    }
}
.archive__blob {
    translate: 0 1px;
    vertical-align: bottom;
    max-inline-size: max(96px, 6% + 3vi);
    margin-inline: 15%;
    align-self: end;
}
.archive__events {
    display: grid;
    grid-column: 1 / -1;
    padding-inline-start: 0;
    margin-block: 0 1lh;
    min-inline-size: 0;
    list-style: none;
    
    @media (width > 48em) {
        column-gap: 3ch;
        grid-template-columns: 18ch 1fr;
        align-items: baseline;
    }
    h3, h4 {
        font-size: clamp(1rem, 0.9583rem + 0.2083vw, 1.125rem);
        margin-block: 0 0.125lh;
    }
}

.archive__event-group {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: subgrid;
    margin-block-end: 1lh;
    border-block-start: 1px solid var(--gray);
    padding-block: 1lh;
}

.archive__event {
    display: grid;
    align-items: start;
    align-content: start;
    break-inside: avoid;
    margin-block-end: 1lh;

    @media (width > 48em) {
        grid-column: 2;
    }

    &:not(:first-of-type) {
        border-block-start: 1px dashed var(--purple-light);
        padding-block-start: 1lh;
    }

    h4 {
        min-inline-size: 0;
        text-wrap: balance;
        line-height: 1.35;
    }

    a:hover {
        text-decoration-thickness: 0.125ch;
        transition: text-decoration 150ms;
    }

    p {
        margin-block-start: 0.125lh;
        max-inline-size: none;
    }
    svg {
        margin-inline-start: -0.125ch;
    }

    p:last-of-type {
        margin-block-end: 0;
    }
}

.key-info {
    display: flex;
    flex-direction: column;
    gap: 0.125lh 2ch;
}

.pill-button {
    background-color: var(--yellow);
    border-radius: 99px;
    padding: 0.5em 1.25em;
    text-decoration: none;
    font-weight: 600;
    color: inherit;
    display: inline-flex;
    align-items: center;
    gap: 0.5ch;
}

a.pill-button:hover {
    background-color: var(--blue-dark);
    color: var(--white);
}

.rounded-button {
    background-color: var(--purple-dark);
    border-radius: 8px;
    margin-block-start: 0.125lh;
    padding: 0.5em 1.25em;
    text-decoration: none;
    color: var(--white);
    display: inline-flex;
    text-align: center;
    align-items: center;
    font-weight: 600;
    gap: 0.5ch;
}

a.rounded-button:hover {
    background-color: var(--blue-dark);
    color: var(--white);
}



[data-readonly], [data-readonly]:hover {
    background-color: var(--purple-lighter) !important;
    border: 2px dashed var(--blue-dark);
    color: currentColor !important;
    cursor: not-allowed;
    display: inline-flex;
}


.tag {
    border-radius: 99ch;
    background-color: var(--gray-light);
    font-size: 81.25%;
    font-weight: 600;
    line-height: 1.4;
    padding: 0.5ch 1.25ch;
    white-space: nowrap;
    margin-inline-end: 1ch;

    &[data-tag="Case"] {
        background-color: color-mix(in srgb-linear, var(--pink) 30%, white);
    }

    &[data-tag="Workshop"] {
        background-color: color-mix(in srgb-linear, var(--green) 40%, white);
    }

    &[data-tag="Panel"] {
        background-color: color-mix(in srgb-linear, var(--red) 40%, white);
    }

    &[data-tag="Mini-kurs"] {
        background-color: color-mix(in srgb-linear, var(--orange) 50%, white);
    }

    &[data-tag="Foredrag"] {
        background-color: color-mix(in srgb-linear, var(--blue-light) 50%, white);
    }

}


.blob-star {
    float: right;
}

.squiggle {
    grid-column: 1/-1;
    display: block;
    zoom: 1.25;
    margin: 1.5lh auto;
}

.edit {
    background-color: var(--blue-dark);
    color: var(--white);
    text-align: center;
    padding: 0.125lh 2ch 0.25lh;

    a {
        font-size: 81.75%;
        color: inherit;
    }
}

.video {
    display: grid;
    aspect-ratio: 16 / 9;
    max-inline-size: 672px;
    background-color: var(--gray-light);
    border-radius: 2px;
    transition: border-radius 600ms;
    overflow: clip;
    margin-block-end: 1.25lh;
}

.video > * {
    grid-area: 1 / 1
}

.video button {
    background-color: transparent;
    padding: 0;
    border: none;
    font: inherit;
}
.video picture {
    pointer-events: none;
    display: block;
    vertical-align: top;
}
.video span {
    display: block;
    margin-block-end: -0.75lh;
    text-shadow: 0 1px 2px #0009;
}

.video iframe {
    vertical-align: top;
}

.icon {
    vertical-align: text-top;
    opacity: 0.8;
    pointer-events: none;
}

.canceled {
    text-decoration-line: line-through;
}

.clear {
    clear:both;
}

.backlink {
    margin-block-start: 1lh;
}


.sr-only {
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    overflow: hidden;
}

[hidden] { display: none }


#content:focus-visible {
    outline: none;
}



.change-cookie-consent {
    display:inline;
    appearance: unset;
    border:0;
    background:none;
    padding:0;
    font: unset;
    text-align: unset;
    cursor: pointer;
}



#cookie-banner {
    background-color: var(--purple-dark);
    border-image: #{"conic-gradient(var(--purple-dark) 0 0) fill 0 // 0 100vw"};
    color: var(--white);
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    gap: 1ch 4ch;
    max-inline-size: calc(96ch + (var(--edge) * 2));
    inline-size: 100%;
    padding: 1lh var(--edge) 1.25lh;
    margin-inline: auto;
}
#cookie-banner p {
    margin-block: 0;
    max-inline-size: 68ch;
}
#cookie-banner a {
    color: inherit;
}
#cookie-banner .buttons {
    flex: 1;
    display: flex;
    gap: 1ch;
    margin-block-start: 0.2lh;
}
#cookie-banner button {
    display: inline-block;
    cursor: pointer;
    font: inherit;
    margin: 0;
    padding: 0.25lh 2ch;
    background-color: var(--yellow);
    border: 0;
    border-radius: 99px;
    flex: 1;
    max-inline-size: 12ch;
    color: var(--blue-dark);

    &:hover {
        background-color: var(--white);
    }
    &:focus-visible {
        outline: 3px dashed var(--white);
        outline-offset: 2px;
    }
}
